/* секция для грида + кнопка "еще" */
.infocards {
  display: block;
  /*padding:70px 0;*/
}

@media screen and (min-width: 1440px) {
  .infocards {
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }
}
.infocards__more-button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;

  /*width: 320px;
  height: 36px;*/
  width: 100%;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;

  /*border: 1px solid #424242;*/
  border-radius: 4px;

  margin: 50px auto 30px;
  display: block;
}

.infocards__notfound {
  text-align: center;
  padding:40px 0;
  color: #ffffff;
  font-size: 14px;
}

/* Грид и карточки */

.infoitems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 241px);
  grid-auto-rows: 241px;
  gap: 32px 28px;
  justify-content: center;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 1180px) {
  .infoitems {
      grid-template-columns: repeat(auto-fit, 342px);
      grid-template-rows: repeat(auto-fit, 309px);
      gap: 35px 24px;
  }
}

@media screen and (max-width: 768px) {
  .infoitems {
      grid-template-columns: repeat(auto-fit, 300px);
      grid-template-rows: repeat(auto-fit, 271px);
      gap: 35px 24px;

  }
}

.infoitem {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-radius: 4px;
  background-color: rgba(167, 166, 166, 0.082);

  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);



}

.infoitem__header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  flex-basis: 54px;
  flex-shrink: 0;
  padding: 0 30px;
}

.infoitem__link {
  flex-basis: 100%;
  text-decoration: none;
}



.infoitem__name {
  margin: 50px 0 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */

  letter-spacing: 0.015em;

  color: #CDCDCD;
  color: #ededed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 30px;

  transition: color .3s ease-in;
}

.infoitem__description {
  margin: 0;
  padding: 0 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */



  color: #ededed;
  transition: color .3s ease-in;
}

.infoitem__link:hover .infoitem__name, .infoitem__link:hover .infoitem__description {
  color: #FF5E3A;
}

.infoitem__poster {
  max-width: 100%;
  flex-basis: 200px;
  object-position: center;
  object-fit: contain;
  min-height: 0;

  cursor: pointer;
}

.infoitem__footer {
  flex-basis: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoitem__span-button {
  border: none;
  outline: none;
  border-radius: 0 0 4px 4px;
  margin-right: 8px;
  padding: 10px 15px;
  background-color: #313131;
  background-color: #ff5e3a80;
  font-weight: 700;
  color: #ffffff;

  font-size: 12px;
  letter-spacing: 0.015em;
  cursor: pointer;

  transition: all 0.2s ease-in;
}


.infoitem__save-button::after {
  content: 'Сохранить';
}

.infoitem__save-button_active {
  background-color: #EE3465;
}

.infoitem__save-button_active::after {
  content: '\002713';
}

.infoitem__save-button_saved::after {
  content: '\002717';
}


@media screen and (max-width: 768px) {
  .infoitem__poster{
      flex-basis: 190px;
  }
}