.raschet-bem__temperatures {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width:768px) {
  .raschet-bem__temperatures {
    max-width: calc(100% - 20px);
  }
}