.description {
    display: flex;
    margin-top: 100px;
  }


  @media screen and (max-width:768px) {
    .description {
      margin-top: 50px;
    }
  }

  @media screen and (max-width:450px) {
    .description {
      margin-top: 0px;
    }
  }