.stickaround {
    /*border-right: 2px solid var(--sticky-around-color);
    border-left: 2px solid var(--sticky-around-color);*/
    position: relative;
}


.stickaround::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    padding-bottom: 30%;
    overflow: hidden;
    background-image: url(../../images/stickaround_two_col.svg);
    background-size: contain, 100%;
    background-position: top left;
    background-repeat: no-repeat;
    opacity: 0.6;
    /*background-color: var(--sticky-around-color);*/
}

.stickaround::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    padding-bottom: 30%;
    overflow: hidden;
    background-image: url(../../images/stickaround_two_col_bottom.svg);
    background-size: contain, 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    opacity: 0.6;
}




/*
.stickaround::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 30%;
    background-color: var(--sticky-around-color);
}

.stickaround::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 30%;
    background-color: var(--sticky-around-color);
}*/