.mainmodels {
  /*margin-top: 160px;*/
  display: flex;

}

.mainmodels_page_main {

}

.mainmodels_page_catalog {
  margin-top: 30px;
}
.mainmodels_page_catalog:last-of-type {
  margin-bottom: 30px;
}

.mainmodels__wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  /*padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 1%;*/

}

.mainmodels__wrapper .models-food {
  display: none;
}

.mainmodels__wrapper_food .models-ti  {
  display: none;
}

.mainmodels__wrapper_food .models-food  {
  display: grid;
}




.mainmodels__turnbutton {

}


.mainmodels__turnbutton:hover {
  color: #ff5e3a;
}

.mainmodels__turnbutton::before {
  content: '';
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-image: url('../../images/turnbutton.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.4s ease-in;

}
.mainmodels__turnbutton:hover::before {
  transform: rotate(180deg);
}

/*
@media screen and (max-width: 1300px) {
  .mainmodels {
    flex-direction: column-reverse;
  }
  .mainmodels__wrapper {
    width: 100%;
    padding-top: 0;
    grid-template-columns: minmax(min-content, 400px) 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    ". turnbutton"
    "title models"
    ". models"
    "button models";
  }
  .mainmodels__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .mainmodels__turnbutton {
    max-height: 50px;
    justify-self: end;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px 30px;
    background: linear-gradient(89.93deg, rgba(47, 47, 47, 0.5) 0.04%, #f2f2f210 96.9%);;
  }

}
@media screen and (max-width: 1024px) {
  .mainmodels {

  }
  .mainmodels__wrapper {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "turnbutton"
    "title"
    "models"
    "button";
    gap: 30px;
    justify-items: center;
  }
  .mainmodels__title {
    font-weight: 600;
  }
  .mainmodels__raschet {
    min-width: 536px;
  }

}
@media screen and (max-width: 768px) {
  .mainmodels__title {
    font-size: 18px;
    white-space:normal;
    max-width: calc(100% - 30px);
  }
  .mainmodels__turnbutton {
    padding: 10px;
    font-size: 14px;
    align-items: center;
  }
  .mainmodels__turnbutton::before {
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }
  .mainmodels__raschet {
    margin-top: 30px;
    min-width: 317px;
  }
}*/