.raschet-bem__substantions {
  border: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto 0;
  width: 100%;

  flex-basis: 98px;
}

@media screen and (max-width: 768px) {

  .raschet-bem__substantions{
    width: 100%;
    margin: 0 auto 10px;
  }
}
