.raschet-bem__substantions {
  border: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
  width: calc(100% - 40px);
}

@media screen and (max-width: 768px) {

  .raschet-bem__substantions{
    width: calc(100% - 20px);
    margin: 0 auto 10px;
  }
}
