.table__cell {
    margin-top: 60px;
    width: 282px;
  }

.table__cell_type_grid {
  width: 90%;
  margin-top: 0;
}

.table__cell_wide {
  width: calc(50% + 181px);
  box-sizing: content-box;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .table__cell {
    /*width: 140px;*/
    margin-top: 20px;
    width: 100%;
  }
}