.raschet-bem__input {
  min-width: 0;


  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  padding: 8px;

  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #565656b7;
  border: 1px solid #565656b7;

  transition: 0.3s;
  /*position: relative;*/

  transition: .3s;

}

.raschet-bem__input_type_flex {
  width: 100%;
}