@import url(./__substantions/raschet-bem__substantions.css);
@import url(./__subst-title/raschet-bem__subst-title.css);
@import url(./__select/raschet-bem__select.css);
@import url(./__subst-selection-block/raschet-bem__subst-selection-block.css);

@import url(./__temperatures/raschet-bem__temperatures.css);
@import url(./__temperature-set/raschet-bem__temperature-set.css);
@import url(./__temperature-img/raschet-bem__temperature-img.css);

@import url(./__parameters/raschet-bem__parameters.css);

@import url(./__field/raschet-bem__field.css);
@import url(./__label-title/raschet-bem__label-title.css);
@import url(./__input/raschet-bem__input.css);
@import url(./__input-error/raschet-bem__input-error.css);

.raschet-bem {
  padding: 30px;
  background-color: #1d1d1dee;
  width: 100%;
  box-sizing: border-box;
}

.raschet-bem option {
  color: black;
}

.raschet-bem_theme_white .raschet-bem__select {
  color: black;
}

.raschet-bem_theme_white .raschet-bem__label-title {
  color: black;
}

.raschet-bem_theme_white .raschet-bem__input {
  color: black;
}