.burton__title {
    /*position: absolute;*/
    line-height: 1.2;
    font-size: 76px;
    font-weight: bold;
    margin-left: 64px;
    width: 730px;
    z-index: 1;
    color: #c4c4c4;
  }
  

  @media screen and (max-width: 1023px) {
    .burton__title {
      /*top: 45%; */
      /* top: 40%; */
      width: 50%;
      font-size: 48px;
      margin-left: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .burton__title {
      font-size: 36px;
      width: 50%;
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 550px) {
    .burton__title {
      font-size: 28px;
      width: 50%;
      margin-left: 10px;
    }
  }


