.timodels {

  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(4, 89px);
  grid-template-rows: repeat(3, 67px);
  gap: 30px 60px;
  grid-auto-flow: column;
  /*ul*/
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.timodels__link {
  text-decoration: none;
}

.timodels__link_new {
  position: relative;
  display: block;
  padding: 5px;
  border: 1px solid #ff5e3a;
  border-radius: 2px;
}

.timodels__caption {
  position: absolute;
  top: -16px;
  left: 0;
  height: 16px;
  width: 100%;
  background-color: #ff5e3a;

  color: #f2f2f2;
  font-size: 14px;
  padding-left: 5px;
  box-sizing: border-box;
  font-weight: 800;
}

.timodels__ptotitle {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;

  color: #f2f2f2;
  transition: color 0.4s linear;
}

.timodels__link:hover .timodels__ptotitle {
  color: #ff5e3a;
}

.timodels__ptodu {
  margin: 12px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.1;
  max-width: 69px;
  color: #939393;

}

@media screen and (max-width: 1441px) {
  .timodels {
    gap: 35px 45px;
  }
  .timodels__ptotitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .timodels {
    grid-template-columns: repeat(4, 65px);
    gap: 20px 17px;
  }
  .timodels__ptotitle {
    font-size: 18px;
    font-weight: 600;
  }
  .timodels__ptodu {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {

  .timodels {
      gap: 20px 17px;
      grid-template-columns: repeat(3,65px);
      grid-template-rows: repeat(5,67px);
  }
}