.prod-intro__title {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  background-color: var(--main-equivalent-color);
  background-color: #202020;

  align-self: flex-start;

  position: relative;
  /*bottom: 30px;*/
  border-radius: 6px;
  color: #888888;
}