.info__paragraph {
  font-size: var(--info-text-size);
  margin: 10px 0 20px;
  color: var(--info-text-color);
  line-height: 1.5;
}

.info__paragraph-span {
  font-size: var(--info-p-span-size);
  text-transform: uppercase;
  letter-spacing: .055em;
  font-weight: 700;

  color: #c4c4c4;
}

.info__paragraph_exp {
  font-size: var(--info-text-exp-size);
}