.plastdetail {
  padding-top: 100px;
}

.plastdetail__content {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.plastdetail__image {
  opacity: 0.6;
}

.plastdetail__title {
  position: absolute;
  left: 270px;
  top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-transform: uppercase;

  color: #BEBEBE;
}

.plastdetail__detailslist {
  padding: 0;
  list-style-type: none;

  position: absolute;
  top: 160px;
  left: 120px;
}

.plastdetail__detailslist-item {
  display: flex;
  align-items: flex-start;
  margin-top: 45px;
}

.plastdetail__detailslist-item:nth-of-type(2) {
  margin-top: 10px;
}


.plastdetail__ititle {
  margin: 0;
  padding: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;

  color: #F2F2F2;
  border-bottom: 5px solid #E7441C;
}

.plastdetail__idesc {
  max-width: 678px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  color: #A6A6A6;

  padding-left: 10px;
}