.popup__form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    padding: 36px;
}

.popup__form_type_big {
  max-width: 768px;
}

@media (max-width: 550px) {
    .popup__form {
      padding: 25px 22px;
    }
}