.bsz-new {
  background-color: #2f2f2f49;

  margin-top: 50px;

}
.bsz-new__content {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}
.bsz-new__img {
  flex-basis: 40%;
  min-width: 0;
  min-height: 0;
  position: relative;
  bottom: 50px;
  width: 100%;
}


.bsz-new__text {
  margin: 30px 0;
  font-size: 22px;
  line-height: 1.4;
  color: #C9C9C9;
  max-width: 600px;

}

@media screen and (max-width: 1024px) {
  .bsz-new__text{
    font-size: var(--cell-heading-font);
  }
}

@media screen and (max-width: 768px) {
  .bsz-new__content {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
  }
  .bsz-new__img {
    flex-basis: 150px;
    bottom: 0;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
  }
}