.khan__quote {
    line-height: 1.4;
    font-size: 24px;
    font-weight: normal;
    margin: 50px 0 0 0;
    color: white;

  }

  @media screen and (min-width:1024px) {
    .khan__quote {
      width: 892px;
    }
  }

  @media screen and (max-width:768px) {
    .khan__quote {
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.05em;
      margin-top: 30px;
    }
  }

