.company-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content max-content 1fr 2fr;

  /*gap: 30px;*/
  align-items: flex-start;
  margin-bottom: 50px;
}

.company-description__title {
  grid-column: 1/1;
  margin: 0;
  max-width: 100%;
  background-color: #13131383;
  padding: 0 0 30px 20px;
}
.company-description__breadcrubs {
  background-color: #13131383;
  padding-left: 20px;
}

.company-description__intro {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3/5;
}
.company-description__paragraph {
    font-size: 18px;
    line-height: 1.5;
    color: #c4c4c4;
    font-weight: 300;
    max-width: 80%;
    margin: 0 0 40px;
    margin: 30px 0 40px 20px;
}
@media screen and (min-width:1440px) {
  .company-description {
    /*max-width: calc(100% - 40px);*/
    margin: 70px auto 50px;
  }
}
@media screen and (max-width: 1180px) {
  .company-description__paragraph  {
    font-size: 16px;
    max-width: 100%;
  }
  .company-description {
    grid-template-columns: 1fr;
  }
}