.double-section {
    display: flex;
    align-items: stretch;
}

.double-section__first {
    max-width: 50%; 
    height: 100%; 
    
    flex: 0 1 50%;

    position: relative; 
    display: flex; 
    /*justify-content: center; */
    /*align-items: center;*/
}


.double-section__second {
    /*min-width: 50%;*/ 
    height: 100%;
    
    flex: 0 1 50%;

    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

@media screen and (max-width:768px) {
    .double-section {
        flex-direction: column;
        align-items: stretch;
    }
    .double-section__first {
        flex-basis: 25%;
        max-width: 100%;
    }
    .double-section__second {
        flex-basis: 75%;
    }
}

.double-section__second_position_ds {
    justify-content: flex-start;
}