.table__heading {
    line-height: 1.15;
    font-size: var(--cell-heading-font);
    font-weight: bold;
    margin: 0;
}

.table__heading_clickable {
  position: relative;
  font-weight: 500;
  padding: 16px 12px;
  background-color: #f2f2f220;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  transition: background-color .4s linear;
  cursor: pointer;
}

.table__heading_clickable-open {
  background-color: #f2f2f210;
}

.table__heading_clickable::after {
  color: tomato;
  content: url(../../../images/2024content/plus.svg);
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  font-weight: 200;
  margin-left: 5px;
}

.table__heading_clickable-open::after {
  color: tomato;
  content: url(../../../images/2024content/minus.svg);
  font-weight: 200;
  margin-left: 5px;
}


.table__heading_align_right {
  text-align: right;
}