.ds {
  /*display: flex;
  overflow: hidden;
  height: 90vh;
  align-items: stretch;
  margin: 100px 0 150px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90vh;
  overflow: hidden;
    /* height: 90vh; */
  align-items: stretch;
  margin: 100px auto 150px;
  max-width: 1600px;
}

@media screen and (max-width: 1640px) {
  .ds {
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .ds {
    max-width: calc(100% - 20px);
  }
}

.ds-intro {

  flex: 0 1 50%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-height: 90vh;

}

.ds-intro__logo {
  margin-left: 5%;
  min-width: 0;
  max-width: 195px;
}

.ds-second {
  /* height: 100%;
  max-width: 50%;*/
  flex: 0 1 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ds-intro__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  min-width: 400px;
  max-width: 400px;
  color: #fff;
  line-height: 1.4;
}
.ds-intro__brand {
  display: flex;
  /* margin: 20px 0 0 3%; */
  align-self: stretch;
  flex-basis: 40px;
  flex-shrink: 1;
  flex-grow: 0;
  justify-content: start;
  /*padding-right: 2%;
  flex-wrap: wrap-reverse;*/
}

.ds-intro__img-container {
  position: relative;
  z-index: 3;
  flex: 0 1 512px;
  min-height: 0;
  display: flex;
  height: 100%;
  /*вписываем во флекс базис 100%, без этого картинка не ужимается*/
  width: 100%;
  /*background: radial-gradient(82.11% 14% at 50% 91.55%, rgba(255, 255, 255, 0.51) 6.77%, rgba(255, 255, 255, 0.16) 48.88%, rgba(255, 255, 255, 0) 100%);*/
  background: radial-gradient(
    34.78% 8.45% at 50% 91.55%,
    rgba(255, 255, 255, 0.51) 6.77%,
    rgba(255, 255, 255, 0.16) 48.88%,
    rgba(255, 255, 255, 0) 100%
  );
}

.ds-intro__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.ds-intro__details {
  display: flex;
  /* margin-top: 25px;
  flex-basis: 200px;*/
  align-self: stretch;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 0;
}

.ds-intro__link-to {
  /* position: absolute; */
  padding-left: 10px;
  position: relative;
  z-index: 3;
  text-decoration: none;
  color: #f77b42;
  line-height: 1.4;
  font-size: 22px;
  font-weight: 500;
  max-width: 260px;
  justify-self: flex-end;
  /* align-self: flex-end; */
  background-color: #2f2f2f4f;
}
.ds-intro__link-to::before {
  content: "Перейти в раздел";
  width: 100%;
  font-size: 11px;
  font-style: italic;
  font-weight: 200;
  display: inline-flex;
  color: rgba(242, 242, 242, 0.5);
}

@media screen and (max-width: 1024px) {
  .ds {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 80vh;
  }
  .ds-intro {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 230px;
    /*grid-template-rows: minmax(70px, fit-content) 30vh;*/


  }
  .ds-second {
    max-width: 100%;
    flex-basis: 100%;
  }
  .ds-intro__title {
    font-size: 16px;
    min-width: 250px;
  }
  .ds-intro__brand {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 230px;
  }
  .ds-intro__img-container {
  }
  .ds-intro__details {
    grid-column: 1/2;
    grid-row: 2/4;
    flex-direction: column;
    align-items: stretch;
  }
  .ds-intro__link-to {
    max-width: 100%;
    min-width: 0;
    font-size: 16px;
  }

  .ds-second {
        /* height: 100%; */
        margin-top: 30px;
        /* flex-basis: 50vh; */
        min-height: 0;
  }
}


@media screen and (max-width: 768px) {
  .ds-intro__brand {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .ds-intro__title {
    text-align: center;
  }
  .ds-intro__logo {
    margin: 20px 0 30px;
    max-width: 220px;
  }
  .ds-intro {
    grid-template-columns: 1fr 130px;
  }

  .ds-intro__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .ds {
    overflow: visible;
  }
  .ds-intro {
    grid-template-columns: 1fr;
    position: sticky;
    top: 0px;
    background-color: #2f2f2f;
    z-index: 50;
  }

  .ds-intro__list {
    text-align: center;
  }
  .ds-intro__list-item {
    font-size: 14px;
    letter-spacing: .03em;
  }
  .ds-intro__img-container {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    width: auto;
    z-index: -1;
  }
  .ds-intro__link-to {
    text-align: center;
  }
  .ds-intro__link-to::before {
    justify-content: center;
  }
}