.popup__desc-container {
    flex: 0 1 721px;
    width: 100%;
    flex: 0 1 50%;
    margin-left: auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}