.two-columns__main-text {
    width: 80%;
    /*min-width: 784px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #c4c4c4;
  }


  @media screen and (max-width: 769px) {
    .two-columns__main-text {
      width: 100%;
    }
  }