.header-index {
  display: grid;
  position: relative;
  min-height: 70vh;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
}

.header-index__logo-img {
  flex-basis: 250px;
  position: relative;
  z-index: 22;

}

.header-index__left {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 600px;
  justify-content: space-evenly;
}

.header-index__right {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-basis: 800px;

}

.header-index__undernav {

  margin-top: 40px;

  display: flex;
  justify-content: space-between;
}

.header-index__link-lk {
  padding: 10px 10px;
  background-color: #2f2f2f;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  max-width: 172px;
  text-align: center;
  line-height: 1.4;
}

.header-index__slider-container {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  padding: 0 10px;
  /*width: 100%;  ВЫДАЕТ 1440*/
  max-width: 800px;
}

.header-index__slide {
 /* border-left: 5px solid tomato;*/
  padding-left: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 500px;
}

.header-index__title {
  font-size: 42px;
  color: #f2f2f2;
  /* width: 800px; */
  margin: 0 0 30px 0;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  z-index: 1;
}

.header-index__desc {
  font-size: 24px;
  line-height: 1.4;
  color: #f2f2f2;
  max-width: 100%;
  margin: 0;
  font-weight: 200;
  position: relative;
  z-index: 1;
}

.header-index__logo-container {
  background-color: #f2f2f23a;
}

@media screen and (max-width: 1440px) {
  .header-index__slider-container {
    max-width: 55vw;
  }
}
@media screen and (max-width: 1440px) {
  .header-index__title {
    font-size: 36px;
  }
  .header-index__desc {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header-index__title {
    font-size: 24px;
  }
  .header-index__desc {
    font-size: 18px;
  }
  .header-index__link-lk {
    display: none;
  }
}