.khan__container {
    width: 80%;
    margin: 0 auto;
  }


@media screen and (max-width: 1440px) {
  .khan__container {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {

 .khan__container .list {
   line-height: 1.4;
   font-weight: 200;
   padding-left: 5px;
 }
}