.relev {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #28282833;
  border: 1px solid;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.relev__title {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .relev {
    grid-template-columns: 1fr;
  }
}