.inforaschet {
  display: flex;
  max-height: 0;
  overflow: hidden;
  background-color: #1f1f1f66;
  transition: all 1s linear;
  transition: max-height .8s cubic-bezier(0,1,0,1),margin .4s linear,padding .4s ease-out;

  position: relative;
}


.inforaschet_page_equipment {
  max-height: none;

}

.inforaschet_active {
  max-height: 1600px;
  /*margin-top: 30px;*/
  padding: 40px 0;
  transition: max-height 1s ease-in-out ,margin .4s ease-out,padding .4s ease-out;
}

.inforaschet::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 30px;
  width: calc(100% - 60px);
  height: 1.3px;
  background:linear-gradient(90.05deg,hsla(0,0%,77%,0) .03%,#9e9e9e73 71.01%,hsla(0,0%,77%,0) 99.51%);;
  transition: opacity 1s ease-in;
  opacity: 0;
}
.inforaschet_active::before {

  opacity: 1;
}


.inforaschet__desc {
  padding-left: 30px;
  padding-top: 30px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 600px;
}

.inforaschet__raschet-form {

}


.inforaschet__title {
  margin: 0;
  color: #ffffff;
}

.inforaschet__details {
  max-width: 420px;
  margin-top: 50px;

  color: #c4c4c4;
  font-size: 20px;
  line-height: 1.3;
}

.inforaschet__example {
  width: 70%;
  margin: 0 auto;
  opacity: 0.5;
}

.inforaschet__example-button {
  border: none;
  outline: none;
  background: none;
  padding: 0;

  color: #009EE0;
  text-decoration: dotted;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  display: none;
}

.inforaschet__action {
  max-width: 280px;
  color: #ffffff;
  font-size: 12px;
}

.inforaschet__button-action {
  max-width: 280px;
  width: 70%;
  margin: auto auto 30px;

  margin-top: 32px;
  background-color: #c4c4c4;
  align-self: stretch;
  border: none;
  font-weight: 800;
  font-size: 18px;
  color: white;
  padding: 16px 0;
}


@media screen and (max-width:1024px) {
  .inforaschet {
    flex-direction: column;
  }
  .inforaschet__desc {
    max-width: 500px;
  }
}