
.lineform {
    padding-bottom: 80px;
}

.lineform_page_btp {
  padding: 35px 135px 35px 10%;
  padding-left: 10%;
  background-color: #2f2f2f;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #b5b5b50f;
  border: 1px solid #2f2f2f;
  box-shadow: 0 4px 1px rgb(0 0 0 / 22%);
  box-sizing: border-box;
}

.lineform_page_pou {
  padding-bottom: 0;
}

@media screen and (max-width: 1440px) {
  .lineform_page_btp {
    max-width: 95%;
    padding: 30px;
  }
}