.prod-intro {

  width: 100%;
  margin: 70px auto;
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 6px;
  color: #f2f2f2;
  box-sizing: border-box;
}

.prod-intro__columns {
  display: flex;
  align-items: stretch;
}

.prod-intro__links {
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* margin: 0 auto; */
  padding-left: 20px;
}

.prod-intro__content {
  flex-basis: 1200px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}