.prod-intro {

  width: 100%;
  margin: 70px auto;
  background-color: #b7b7b70f;
  padding: 20px;
  border-radius: 6px;
  color: #f2f2f2;
  box-sizing: border-box;
}


@media screen and (max-width: 1620px) {
  .prod-intro{
    margin: 40px auto 30px;
  }
}

.prod-intro__columns {
  display: flex;
  align-items: stretch;
}

.prod-intro__links {
  display: flex;
  flex-direction: column;
  
  /* margin: 0 auto; */
  padding-left: 20px;
  justify-content: flex-end;
  line-height: 1.5;
  font-size: 20px;
}

@media screen and (max-width: 1620px) {
  .prod-intro__links {
    font-size: 16px;
  }
}


.prod-intro__content {
  flex-basis: 1200px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}
@media screen and (max-width: 1620px) {
  .prod-intro__content {
    flex-basis: 1100px;
  }
}

@media screen and (max-width: 768px) {
  .prod-intro__columns {
    flex-direction: column;
  }
  .prod-intro__content {
    flex-basis: 0;
  }
}