@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  article h2 {
    @apply text-4xl my-2;
  }
  article h3 {
    @apply text-2xl my-2;
  }
  article p {
    @apply my-2;
  }

  .info__article-container table {
    @apply text-gray-50 my-4 table-auto border-collapse;
  }

  .info__article-container table thead {
    @apply bg-orange-dark text-base mobile:text-sm;
  }

  .info__article-container table thead tr {
    @apply *:px-5 *:py-4 *:font-medium *:text-left divide-x divide-solid divide-[#1f1f1f];
  }

  .info__article-container table thead tr th:first-child {
    @apply rounded-s-lg;
  }

  .info__article-container table thead tr th:last-child {
    @apply rounded-e-lg;
  }

  .info__article-container table tbody {
    @apply text-base relative -top-2 -z-[1] bg-[#2f2f2f]  divide-y divide-solid divide-[#1f1f1f]  mobile:text-sm;
  }

  .info__article-container table tbody tr {
    @apply *:px-5 *:pb-3 *:pt-5  divide-x divide-solid divide-[#1f1f1f];
  }
  .inset0 {
    @apply absolute top-0 left-0 w-full h-full;
  }
}

@layer components {
  :root {
    --head-wrap: calc(50% + 800px)
  }

 .content {
    @apply max-w-[calc(100%-180px)] mx-auto pc:max-w-[calc(100%-80px)];
  }
  .twrapper {
    @apply max-w-[1520px] mx-auto;
  }

  .container-2 {
    @apply grid grid-cols-2 items-start mobile:grid-cols-1 mobile:*:col-start-1 mobile:*:col-span-1;
  }

  .container-12 {
    @apply grid grid-cols-12 items-start mobile:grid-cols-1 mobile:*:col-start-1 mobile:*:col-span-1;
  }

  .ui-button {
    @apply transition-all duration-200 p-3 text-white bg-[#E7381C] hover:bg-transparent hover:text-[#E7381C] rounded-md border-2 border-[#E7381C] text-base uppercase flex justify-center;
  }
  .ui-button-text {
    @apply transition-all duration-200 py-3 px-0 text-[#E7381C] rounded-md text-base uppercase flex;
  }
  .ui-button-gray {
    @apply transition-all duration-200 p-3 text-gray-500 hover:bg-transparent hover:text-[#E7381C] rounded-md border-2 border-gray-500 hover:border-[#E7381C] text-base uppercase flex justify-center;
  }


  .before-small-circle {
    @apply flex items-stretch;
  }
  .before-small-circle-indent {
    @apply relative indent-4;
  }

  .before-small-circle-indent::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top:8px;
    left:2px;
    @apply bg-orange rounded-full;
  }
  .before-small-circle::before {
    content: '';

    width: 8px;
    height: 8px;
    margin-right: 16px;
    margin-top: 0.5em;
    @apply shrink-0 bg-orange rounded-full;
  }

  .upsubtitle {
    @apply text-orange text-xl lowercase;
  }
  .upsubtitle::before {
    content: '[';
    @apply mr-1;
  }
  .upsubtitle::after {
    content: ']';
    @apply ml-1;
  }


  .up-title {
    @apply mb-8 text-lg text-white font-semibold uppercase leading-none mobile:text-base;
  }

  .up-title_svg {
    @apply flex items-center;
  }
  .up-title_svg::before {
    content: '';
    width: .7em;
    height: .7em;
    margin-right: 16px;
    @apply bg-orange rounded-full;
  }

  .title-page {
    @apply text-[57px] uppercase font-bold text-zinc-300 mvpc:text-[52px] mobile:text-3xl;
  }

  .subtitle {
    @apply text-[33px] uppercase text-[#B9B9B9] font-semibold mb-12 mvpc:text-3xl;
  }
  .subtitle_spec {
    @apply mt-14;
  }
  .subtitle-sm {
    @apply text-[27px] uppercase text-[#B9B9B9] font-semibold mb-12;
  }

  .subtitle-smm {
    @apply text-[26px] uppercase text-[#B9B9B9] font-semibold mb-12;
  }
  .up-text-title {
    @apply text-2xl text-[#d4d4d4] font-medium mb-5;
  }
  .text-m {
    @apply text-xl text-white leading-snug mvpc:text-lg;
  }
}


.body-fixed {
 @apply pr-4 overflow-hidden;
}