.frombsz {
  color: #f2f2f2;
  max-width: 80%;
  margin: 40px 0 40px 20px;
}


.frombsz__title {
  font-size: 28px;
  font-weight: 800;
}

.frombsz__paragraph {
  font-size: 18px;
  line-height: 1.4;
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  .frombsz {
    max-width: 100%;
  }
  .frombsz__title {
    font-size: 24px;
  }
  .frombsz__paragraph {
    font-size: 14px;
  }
}