.filter-form__input {
  position: absolute;
    opacity: 0;
}
.filter-form__input:checked + .blog-grid__filter-span {
  background-color: #ff5e3a8e;
  color: #202020;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .filter-form {
    display: flex;
    flex-wrap: wrap;
    
  }
}