.section-title {
    text-align: center;
    margin: 0px auto 20px auto;
    width: 50%;
    line-height: 1.15;
    font-size: 60px;
    font-size: 48px;
    font-weight: bold;
    color: #c4c4c4;
  }



  .section-title_size_m {
    text-align: center;
    margin: 0px auto -40px auto;
    width: 60%;
    line-height: 1.15;
    font-size: 48px;
    font-weight: bold;
  }

  @media screen and (max-width: 767px) {
    .section-title {
      font-size: 36px;
      width: 90%;
    }
  }

  @media screen and (max-width: 420px) {
    .section-title {
      font-size: 28px;
      width: 95%;
      font-size: 18px;
      letter-spacing: .05em;
      line-height: 1.4;
      text-align: left;
    }
  }


  .section-title_schemes {
    max-width: 570px;
  }