@media screen and (min-width: 1440px) {
  .service {
    margin: 0 auto;
  }
}
.service__list {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.service__subtitle {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 800;
  color: #f2f2f2;
}