.projects__details-button {

  /*border-radius: 2px;*/


  background-color: transparent;
  cursor: pointer;
  align-items: center;
  position: relative;
  border-bottom: 2px solid rgba(255, 99, 71, 0);
  transition:  border-bottom .3s linear;
}

.projects__checkbox {
  position: absolute;
    opacity: 0;
}
.projects__details-button::after {
  content: '';
  height: 1em;
  width: 1em;
  position: absolute;
  right: -1.5em;
  top: calc(50% - 0.5em);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../images/svg-elems/projects-more.svg);
  background-size: contain;

  transition: transform .5s ease-in;
}

.projects__checkbox:checked + .projects__details-button {
  /*background-color: #f2f2f24b;
  /*color: #2f2f2f;*/
  border-bottom: 2px solid rgba(255, 99, 71, 0.336);
}

.projects__checkbox:checked + .projects__details-button::after {
  transform: rotate(-180deg);
}
/*
@media screen and (max-width: 1441px) {
  .projects__details-button {
    font-size: 18px;
  }
  .projects__details-button::after {
    width: 18px;
    height: 22px;
    right: -20px;
  }
}*/