.list-bem {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 1400px) {
  .list-bem {
    font-size: 16px;
    letter-spacing: .05em;
    line-height: 1.5;
  }
}


@media screen and (max-width: 768px) {
  .list-bem {
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 1.5;
  }
}

.bem__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



@media screen and (min-width:1440px) {
  .bem__list_page_service {
    font-size: 24px;
    line-height: 1.5;
    /*margin-bottom: 30px;*/
  }
}

.bem__list_page_main {
  font-size: 20px;
  color: #f2f2f2;
}
@media screen and (max-width: 1640px) {
  .bem__list_page_main {
    font-size: 18px;
  }
}
@media screen and (max-width: 1360px) {
  .bem__list_page_main {
    font-size: 16px;
  }
}

@media screen and (max-width:768px) {
  .bem__list_page_main {
    font-size: 14px;
    line-height: 1.5;
    max-width: 400px;
  }
}

.bem__list-heading {
  margin: 0 0 20px;
  font-size: 18px;
}

.bem__list-heading_page-service {
  font-weight: 200;
  color: #757575;
}

@media screen and (max-width: 768px) {
  .bem__list-heading {
    font-size: 12px;
  }
}

.bem__list-item {
  margin-bottom: 8px;
}

.bem__list-item:last-of-type {
  margin-bottom: 0;
}

.bem__list-item::before {
  content: '↳';
  color: var(--main-equivalent-color);
  margin-right: 5px;
}