.prod-intro__link {
  transition: opacity .3s ease-in;
  color: var(--main-color-contr);
}



.prod-intro__link::after {
  content: ' \2197';
}

.prod-intro__link:hover::after {
  color: "f2f2f2";
  opacity: .3;
}