.span{
    color: #c4c4c4ad;
}

.span_comment {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

.span_color_orange {
    font-weight: 600;
    color: #E7441C;
}

.span-bold {
  font-weight: 800;
}

.span-bold_spacing {
  letter-spacing: 0.05em;
}
.span-decoration-none {
  text-decoration: none;
}
.span_uppercase {
    text-transform: uppercase;
}

.span-no-wrap {
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .span-bsz {
    font-size: 10px;
  }
  .span-mobile-hidden {
    display: none;
  }
}
