.flexburton {
    position: relative;
    height: 65vh;
    max-height: 756px;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

.flexburton_test {
  background-color: #2f2f2f67;
  padding: 30px;
  margin-top: 30px;
}
  @media screen and (max-width: 1025px) {
    .flexburton {
      height: 400px;
    }
  }

  @media screen and (max-width: 767px) {
    .flexburton {
      height: 350px;
    }
  }

  @media screen and (max-width: 450px) {
    .flexburton {
      height: 280px;
    }
  }


  .flexburton__left-side {
    
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;

    flex: 5 1 650px;
  }
  
  .flexburton__right-side {
    position: relative;
    flex: 1 1 450px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

.flexburton__main-image {
    /*max-width: 100%;*/
    max-height: 88%;
    object-fit: contain;


    /*margin: auto 0;*/
  }

  
  .flexburton__breadcrumbs {
    /*margin-left: 64px;
    margin-top: 20px;*/
    padding: 15px 0;
    position: relative;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
  }

  .flexburton__breadcrumbs-link {
    text-decoration: underline;
    color: #c4c4c4d5;
    margin-bottom: 3px;
    font-size: 16px;
  }

  @media screen and (max-width: 1024px) {
    .flexburton__breadcrumbs-link{
      margin-left: 10px;
      font-size: 16px;
    }
  }
  

  @media screen and (max-width: 768px) {
    .flexburton__breadcrumbs-link{
      font-size: 14px;
    }
  }
  

  @media screen and (max-width: 550px) {
    .flexburton__breadcrumbs-link {
      font-size: 12px;
    }
  }

  .flexburton__breadcrumbs-link::after {
    content: ' \2192';
    color: #FF5E3A;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
  }

  .flexburton__breadcrumbs-link_type_here {
    text-decoration: none;
  }
  .flexburton__breadcrumbs-link_type_here::after {
    content: '';
  }
  
  @media screen and (max-width: 1024px) {
    .flexburton__breadcrumbs{
      margin-left: 10px;
    }
  }
  

  

/*
.flexburton__breadcrumbs::after {
    top:0;
    left: -100%;
    right: -5%;
    content: '';
    position: absolute;
    height: 100%;
    width: 210%;
    border-radius: 2px;
    background-color: rgba(242, 242, 242, 0.123);
}
*/


.flexburton__svg {
  position: absolute;
  bottom: 5px;
  bottom: 5%;
  left:5%;
  height: 80%;
  width: auto;
  z-index: -1;
}

@media screen and (max-width: 540px) {
  .flexburton__svg_page_btp {
    left: 0%;
    bottom: 0%;
    height: 55%;
  }
  .flexburton__svg_page_pizh {
    left: 0%;
    bottom: 5%;
    height: 61%;
  }
}
