:root {
  --back-color-intro: #b9b9b911;
}

.introgrid {
    display: grid;
    grid-template-columns: minmax(min-content, 500px) 1fr;
    grid-template-rows: minmax(min-content, 100px) auto minmax(min-content, 100px);
    grid-template-areas:
        "header feat"
        "desc feat"
        "button feat";
    column-gap: 30px;

    margin: 50px auto 100px;
    max-width: 1600px;
}


.introgrid__header {
  grid-area: header;
  margin: 0;
  background-color: var(--back-color-intro);

  font-size: 36px;

  color: #f2f2f2;

  text-align: left;
  font-weight: 800;
  padding: 30px;
  box-sizing: border-box;
}

.introgrid__desc {
  grid-area: desc;
  margin: 0;
  background-color: var(--back-color-intro);

  color: #c4c4c4b6;
  font-weight: 300;
  font-size: 16px;

  padding: 30px;

}

.introgrid__button {
  grid-area: button;
  background-color: var(--back-color-intro);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20px;
}

.introgrid__feat{
  grid-area: feat;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media screen and (max-width: 1100px) {
  .introgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "desc"
        "feat"
        "button";
  }
  .introgrid__feat{

    max-width: 100%;
    background-color: #2f2f2f;
    padding: 30px;
  }
}
