.product-types {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;

    display: flex;

}

.product-types__type {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.product-types__image {
    max-height: 80vw;
    max-width: 80vw;
    object-fit: contain;
    object-position: center;
    /*width="100%" height="450px"*/
}

@media screen and (max-width:1441px) {
  .product-types__image {
    max-height: 26vw;
  }
}
@media screen and (max-width:530px) {
  .product-types__image {
    max-height: 65vw;
    max-width: 65vw;
  }
}

@media screen and (max-height: 500px) {
  .product-types__image {
    max-height: 40vw;
  }
}

.product-types__category-info {
    display: flex;
    flex-direction: column;
}

.product-types__heading {
    margin: 20px 0 10px;
    font-size: 28px;

    font-size: 24px;
    font-weight: 600;
    color: #f2f2f2;

    opacity: 0.8;
    text-align: left;
    text-transform: uppercase;
}

@media screen and (max-width:1441px) {
  .product-types__heading {
    font-size: 22px;
  }
}


@media screen and (max-width:768px) {
    .product-types__heading {

        font-size: 18px;
        width: 100%;
        max-width: 95%;
        margin: 0 auto 15px;
    }
}

.product-types__p {
    color: #f2f2f2;
    font-size: 18px;
    line-height: 1.3;
    margin: 0 0 10px;

    font-weight: 400;

}
@media screen and (max-width: 1441px) {
  .product-types__p {
      font-size: 16px;
  }
}

@media screen and (max-width:768px) {
    .product-types__p {
        max-width: 95%;
        margin: 0 auto 10px;
        line-height: 1.5;
        font-weight: 400;
    }
}

@media screen and (max-width:768px) {
  .product-types__p {
      font-size: 14px;
  }
}

.product-types__link{
    margin-top: 10px;
    z-index: 22;
    text-decoration: none;
    font-size: 18px;
    color: #FF5E3A;
    align-self: flex-start;
}

.product-types .swiper-button-next {
    color: #FF5E3A;
    /*top: 40%;
    right: 8%;*/

    left: calc(10% + 55px);
    right: auto;
    bottom: 0;
    top: auto;
    padding: 30px;
    background-color: #f2f2f236;
}

.product-types .swiper-button-prev {
    color: #FF5E3A;
   /* top: 40%;
    left: 8%;*/

    left: 10%;
    right: auto;
    bottom: 0;
    top: auto;
    padding: 30px;
    background-color: #f2f2f236;
}



@media screen and (max-width:768px) {
    .product-types__link {
        font-size: 16px;
        text-align: center;
        margin-left: 2.5%;
        font-size: 12px;
        font-weight: 600;
    }
}



/*--------------------------*/

.product-types__panel {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 50px;
  position:absolute;
  bottom: 20px; left: 20px; z-index: 10;
}

.product-types__button-next, .product-types__button-prev {
  background-color: #202020;
  border: 2px solid #2f2f2f;
  color: #ff5e3ad3;
  font-size: 28px;
  font-weight: 600;
  width: 90px;
  height: 50px;

  transition: background-color .5s ease-in;
}

.product-types__button-next:hover, .product-types__button-prev:hover {
  background-color: #ff5e3a95;
}

.product-types__button-next {
  position:absolute;
  bottom: 100px; right: 220px; z-index: 10;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.product-types__button-prev {
  position:absolute;
  bottom: 100px; left: 220px; z-index: 10;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  /*border-radius: 50%;*/
}

@media screen and (max-width: 1024px) {

  .product-types__button-next, .product-types__button-prev {
    font-size: 20px;
    width: 60px;
    height: 40px;
    border-width: 1px;
  }

  .product-types__button-next {
    top: 40px;
    right: 22px;
  }

  .product-types__button-prev {
    top: 40px; left: 0;
  }
}

@media screen and (max-width:630px) {
  .product-types__button-next, .product-types__button-prev {
    top: 70px;
  }
}