.mainmodels {
  /*margin-top: 160px;*/
  display: flex;
}

.mainmodels__wrapper {
  width: 75%;
  background-color: rgba(47, 47, 47, 0.5);
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 1%;

  display: grid;
  grid-template-columns: minmax(min-content, 400px) 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "title models"
    ". models"
    "button models";
}

.mainmodels__title {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;

  color: #cacaca;

  margin: 0;
  white-space: nowrap;
  grid-area: title;
}




.mainmodels__raschet {
  border: none;
  outline: none;
  background-color: #2f2f2fd0;
  color: #c4c4c4;
  padding: 20px;
  grid-area: button;
}
.mainmodels__models {
  grid-area: models;
}

.mainmodels__turnbutton {
  display: flex;

  background-color: #f2f2f210;
  position: relative;
  color: #f2f2f2;
  border: none;
  font-size: 20px;

  padding: 30px;
  cursor: pointer;
  transition: color 0.4s linear;
}

.mainmodels__turnbutton:hover {
  color: #ff5e3a;
}

.mainmodels__turnbutton::before {
  content: '';
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-image: url('../../images/turnbutton.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.4s ease-in;

}
.mainmodels__turnbutton:hover::before {
  transform: rotate(180deg);
}


@media screen and (max-width: 1300px) {
  .mainmodels {
    flex-direction: column;
  }
  .mainmodels__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .mainmodels {
    flex-direction: column;
  }
  .mainmodels__wrapper {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "title"
    "models"
    "button";
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .mainmodels__title {
    font-size: 18px;
    white-space:normal;
  }
  .mainmodels__turnbutton {
    padding: 10px;
    font-size: 16px;
    align-items: center;
  }
}