<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
  <style>
    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide-btp {
      text-align: center;
      font-size: 18px;
      background: rgba(66, 66, 66, 0.678);

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      align-self: flex-end;
    }

    .swiper-slide .btp-big-swiper__image {
      display: block;
      width: 100%;

      object-fit: contain;
      object-position: bottom;
    }

    .btp-big-swiper {
      height: auto;
      width: 100%;
      overflow: hidden;
      position: relative;
    }
    .btp-big-swiper .swiper-wrapper {
      align-items: flex-end;
    }
  </style>
</head>

<body>
  <%= require('html-loader!./inner-metrika.html').default %>
  <div class="bg"></div>
  <div class="page">
    <header class="header">
      <a href="/" class="header__logo"><img class="header__logo-img" alt="Лого Термоблок" src="<%=require('./images/header-logo-1.svg')%>"/></a>
      <div class="header__right">
        <%= require('html-loader!./inner-header.html').default %>
      </div>
    </header>

    <main class="content">
      <section class="flexburton flexburton_test flexburton_static-bg">
        <div class="flexburton__left-side">
            <div class="flexburton__breadcrumbs">
              <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
              <a class="flexburton__breadcrumbs-link" href="/production.html">Продукция</a>
              <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>">Блочные тепловые пункты</a>
            </div>
            <h1 class="flexburton__title animate__animated animate__slow animate__bounceInLeft">Блочные тепловые пункты</h1>
            <p class="flexburton__subtitle">Изготовление блочных тепловых пунктов на базе пластинчатых теплообменников собственного производства<a class="flexburton__link link-beauty" href="#"> Подробнее &#8594;</a></p>
        </div>
        <div class="flexburton__right-side">
          <img class="flexburton__main-image" src="<%=require('./images/btp_test.png')%>" alt="Модель теплового пункта">
          <!--<svg class="flexburton__svg flexburton__svg_page_btp rotation" width="860" height="860" viewBox="0 0 860 860" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M424.715 8.58299L430 0L435.285 8.58299L610.874 293.768L600.388 293.904L430 17.166L256.865 298.365L246.211 298.504L424.715 8.58299ZM223.875 334.78L5.54132 689.39L0 698.39H10.5691H408.795L404.218 689.39H16.1104L228.656 344.181L223.875 334.78ZM459.27 689.39L454.898 698.39H849.431H860L854.459 689.39L633.569 330.629L628.908 340.224L843.89 689.39H459.27Z" fill="#E7441C"/>
          </svg>-->
        </div>
      </section>

      <section class="description">
        <div class="two-columns wow animate__animated animate__fadeInDown" data-wow-offset="450" data-wow-mobile="false">
          <h2 class="two-columns__brief two-columns__brief_flexed"">Производство блочных тепловых пунктов</h2>
          <div class="two-columns__main-text  two-columns__main-text_flexed">
              <p class="two-columns__paragraph">БТП - блочные тепловые пункты - готовое решение от производителя теплообменного оборудования. Другими словами, это блочные ИТП, которые изготавливаются и испытываются на территории предприятия.</p>
              <p class="two-columns__paragraph">На БТП, в отличие от ИТП, выдается гарантия целиком на изделие. Изготавливаем блоки ГВС и блоки отопления по принципиальным схемам, которые представлены ниже, также вы можете заказать автоматизированный тепловой пункт, заполнив опросный лист. Мы предлагаем купить блочные тепловые пункты по выгодной цене, которую оперативно рассчитают инженеры предприятия ООО "Термоблок" и проконсультируют по вопросам монтажа, доставки и сервису оборудования.</p>
          </div>
        </div>
      </section>

      <section class="introgrid">
        <div class="introgrid__wrapper">
          <h2 class="introgrid__header">Преимущества работы с производителем</h2>
          <p class="introgrid__desc">С 1993 года реализованы поставики во все регионы России. Вы можете ознакомиться с примерами проектов.</p>
          <div class="introgrid__button">
            <a href="#" class="link-beauty " style="text-decoration: none; padding: 15px 0; color: white;width: 100%; text-align: center; background-color: #f2f2f22d">Рассчитать тепловой пункт</a>
          </div>
          <div class="introgrid__feat" style="flex: 0 0 570px; position: relative;">
            <!--<div style="position: absolute; top:0; left: 0px;"><img alt="Декоративный элемент" src="<%=require('./images/rect_sect.svg')%>" width="30%"></div>
            <div style="position: absolute; top:0; right: 0px; transform: scaleX(-1);"><img alt="Декоративный элемент" src="<%=require('./images/rect_sect.svg')%>" width="30%"></div>-->
              <ul class="table-grid">
                <li>
                    <h3 class="table-grid__heading">Расчёт и подбор</h3>
                    <p class="table-grid__description">Пластинчатые теплообменники для ГВС ставятся в закрытых системах водоснабжения жилых домов, в котельных..</p>
                </li>
                <li>
                    <h3 class="table-grid__heading">Собственное производство теплообменников</h3>
                    <p class="table-grid__description">Теплообменники для отопления </p>
                </li>
                <li>
                    <h3 class="table-grid__heading">Сотрудничество напрямую с заводом</h3>
                    <p class="table-grid__description ">Пластинчатые охладители и пастеризаторы для молочного производства, пивоварения, виноделия и прочих.</p>
                </li>
                <li>
                    <h3 class="table-grid__heading">Доставка и гарантия</h3>
                    <p class="table-grid__description">Разбейте навык на элементы.</p>
                </li>
              </ul>
            <!--<div style="position: absolute; bottom:-60px; left: 0px; transform: scaleY(-1);"><img alt="Декоративный элемент" src="<%=require('./images/rect_sect.svg')%>" width="30%"></div>
            <div style="position: absolute; bottom:-60px; right: 0px; transform: scale(-1);"><img alt="Декоративный элемент" src="<%=require('./images/rect_sect.svg')%>" width="30%"></div>-->
          </div>
        </div>
      </section>

        <div class="techniques__after" >
          <div class="techniques__after_before wow" data-wow-offset="100"></div>
        </div>

        <h2 class="section-title" style="margin-top: 80px;">Схемы комплектации тепловых пунктов</h2>

        <div  class="btp-shemes-section">
        <div class="btp-schemes__pagination-container">
          <!--<span class="btp-schemes__bullet btp-schemes__bullet_active">Узел ввода</span>
          <span class="btp-schemes__bullet">Зависимое отоппление</span>
          <span class="btp-schemes__bullet">Независимое отопление</span>
          <span class="btp-schemes__bullet">Одноступенчатое ГВС</span>
          <span class="btp-schemes__bullet">Двухступенчатое ГВС моноблок</span>
          <span class="btp-schemes__bullet">Двухступенчатое ГВС с двумя теплообменниками</span>-->
        </div>
        <div class="btp-schemes">

            <div class="swiper-wrapper">
              <div class="btp-schemes__sheme swiper-slide">
                <img src="<%=require('./images/schemes_btp/uzel_vvoda.svg')%>" alt="Узел ввода и учета схема" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="<%=require('./images/schemes_btp/otop_zav.svg')%>" alt="Узел зависимого отопления схема" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="<%=require('./images/schemes_btp/svg_top_nez.svg')%>" alt="Узел независимого отопления схема" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="<%=require('./images/schemes_btp/svg_gvs.svg')%>" alt="Узел ГВС горячего водоснабжения схема" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="<%=require('./images/schemes_btp/gvs_monoblok.svg')%>" alt="Узел ГВС с моноблоком двухступенчатая схема" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="<%=require('./images/schemes_btp/two_step_gvs.svg')%>" alt="Узел ГВС двухступенчатая схема с двумя теплообменниками" class="btp-schemes__img">
              </div>
          </div>


        </div>
      </div>

      <section class="btp-presentation" style="background-color: #f2f2f210; margin-top: 50px;">

        <section class="oakley" >
          <div class="two-columns">
            <h2 class="two-columns__brief two-columns__brief_uppercase">БТП "Термоблок"</h2>
            <div class="two-columns__main-text">
              <p class="two-columns__paragraph">Блочные тепловые пункты изготавливаются на базе производственных мощностей компании <span class="span-no-wrap">ООО "Термоблок"</span>. Являясь непосредственным производителем пластинчатых теплообменников <span class="span-no-wrap"><img src="<%=require('./images/svg-teplohit.svg')%>" style="height: 1em;position: relative;top: 0.2em;" alt="Теплохит"> ™ </span> , мы обладаем большим опытом производства теплообменного оборудования и установок.</p>
              <p class="two-columns__paragraph">Блоки теплового пункта смонтированы на раме и укомплектованы всеми необходимыми комплектующими. Производство БТП - одно из приоритетных направлений деятельности завода.</p>
            </div>
          </div>
        </section>

        <section class="btp-adv">
          <div class="btp-adv__feats">
            <img src="<%=require('./images/btp_page_btp.png')%>" alt="Преимущества блочных тепловых пунктов заводского производства" class="btp-adv__image">
            <div class="btp-adv__plus wow" data-wow-offset="200" data-wow-delay=".5s" data-wow-duration="3s">
              <p class="btp-adv__feat wow" data-wow-offset="200" data-wow-delay=".5s" data-wow-duration="3s">Теплообменник собственного производства</p>
            </div>
            <div class="btp-adv__plus wow" data-wow-offset="200" data-wow-delay="1.5s" data-wow-duration="3s">
              <p class="btp-adv__feat wow" data-wow-offset="200" data-wow-delay="1.5s"  data-wow-duration="3s">Квалифицированный подбор оборудования на обвязку</p>
            </div>
            <div class="btp-adv__plus wow" data-wow-offset="200" data-wow-delay="2s" data-wow-duration="3s"">
              <p class="btp-adv__feat wow" data-wow-offset="200" data-wow-delay="2s"  data-wow-duration="3s">Заводские испытания теплового пункта</p>
            </div>
          </div>
          <a href="#" class="btp-adv__link link-beauty">Рассчитать <span class="span-no-wrap">стоимость  &#8594;</span></a>
        </section>
        <form class="lineform lineform_page_btp" method="post" action="#" id="lineformBtp" name="lineformBtp" novalidate>
          <h2 class="lineform__heading">Проконсультироваться с инженером</h2>
          <p class="lineform__description">Инженер завода по подбору блочных индивидуальных тепловых свяжется с Вами в кратчайшее время</p>
          <div class="lineform__line">
            <div class="lineform__field">
              <input class="lineform__input lineform__input_type_name" id="name-input" name="name" placeholder="Имя" minlength="2" maxlength="30" type="text" required  />
              <span class="lineform__input-error name-input-error">23</span>
            </div>
            <div class="lineform__field">
              <input class="lineform__input lineform__input_type_tel" id="tel-input" name="tel" placeholder="Телефон для связи" type="tel" minlength="2" maxlength="200" required  />
              <span class="lineform__input-error tel-input-error">23</span>
            </div>
            <button class="lineform__button-save button-bem lineform__button-save_type_callback" type="submit">Оставить заявку</button>
          </div>
        </form>
        <!--<div class="btp-presentation__callback" style="max-width: 80%; margin: 30px auto 0;">

        </div>-->
      </section>


      <div class="btp-big-swiper">
        <div class="swiper-container btpBigSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="btp-big-swiper__image" alt="Блочные тепловые пункты изготовленные" src="<%=require('./images/btp_slider/btp-slider-1.png')%>" />
            </div>
            <div class="swiper-slide">
              <img class="btp-big-swiper__image" alt="Блочные тепловые пункты изготовленные 2" src="<%=require('./images/btp_slider/btp-slider-2.png')%>" />
            </div>
            <div class="swiper-slide">
              <img class="btp-big-swiper__image" alt="Блочные тепловые пункты изготовленные 3" src="<%=require('./images/btp_slider/btp-slider-3.png')%>" />
            </div>


          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    <section class="secondgridbtp">
      <h2 class="secondgridbtp__title">Блочные тепловые пункты от производителя</h2>
      <ul class="secondgridbtp__list">
        <li class="table__cell table__cell_type_grid">
          <h3 class="table__heading table__heading_page_btp">Оперативный расчёт</h3>
          <p class="table__text table__text_page_btp">В сжатые сроки рассчитаем стоимость и при необходимости подготовим проект блочного теплового пункта. Расчёт стоимости - от 1 рабочего дня.</p>
        </li>
        <li class="table__cell table__cell_type_grid">
            <h3 class="table__heading table__heading_page_btp">Выгодная цена</h3>
            <p class="table__text table__text_page_btp">Мы предлагаем гибкие ценовые условия на БТП за счет оптимальной стоимости теплообменника собственного производства со скидкой в совокупности с опотовыми поставками доп. оборудованиия.</p>
        </li>
        <li class="table__cell table__cell_type_grid">
            <h3 class="table__heading table__heading_page_btp">Срок изготовления</h3>
            <p class="table__text table__text_page_btp">От 20 рабочих дней</p>
        </li>
        <li class="table__cell table__cell_type_grid">
            <h3 class="table__heading table__heading_page_btp">Технический дизайн</h3>
            <p class="table__text table__text_page_btp">Мы предлагаем гибкие ценовые условия на БТП за счет оптимальной стоимости теплообменника собственного производства со скидкой в совокупности с опотовыми поставками доп. оборудованиия.</p>
        </li>
        <li class="table__cell table__cell_type_grid">
          <h3 class="table__heading table__heading_page_btp">Разработка персонализированной панели управления БТП</h3>
          <p class="table__text table__text_page_btp">Мы предлагаем гибкие ценовые условия на БТП за счет оптимальной стоимости теплообменника собственного производства со скидкой в совокупности с опотовыми поставками доп. оборудованиия.</p>
        </li>
      </ul>

    </section>
    <section class="bpou">
      <div class="bpou__info">
        <span class="bpou__intro">Смотрите также</span>
        <h2 class="bpou__heading">Блочные пастеризационно охладительные установки</h2>
        <p class="bpou__description">На базе теплообменников собственного производства наше предприятие имеет большой опыт в изготовлении пищевых установок. Зачастую - это пастеризаторы вина, сусла на основе двухступенчатой системы нагрева.</p>
        <!--<div class="beauty-button"><a href="#" class="po__link" style="text-align:center; width: 100%;font-size: 16px;margin: 0; color: white;">Перейти</a></div>-->
        <a href="#" style="display: block; text-decoration: none;" class="button-bem">Перейти &#8594;</a>
      </div>
      <div class="bpou__image-container">
        <img src="<%=require('./images/pou_page_btp.png')%>" alt="Блочное решение для пищевой промышленности на базе пластинчатых теплообменников" class="bpou__image">
      </div>
    </section>
    <div class="up-footer up-footer_bg_none ">
      <ul class="up-footer__list">
        <li class="up-footer__list-item popup-mini wow animate__slideInUp" data-wow-duration="1s" data-wow-delay=".4s">Проконсультироваться с инженером</li>
        <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="1.2s">Скачать опросный лист <span class="span-mobile-hidden">на тепловой пункт</span></li>
        <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="2.0s">Подобрать <span class="span-no-wrap">теплообменник ↗</span></li>
      </ul>
    </div>
          </main>
          <%= require('html-loader!./inner-footer.html').default %>
  </div> <!--page-->
  </body>
</html>
