<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="bg"></div>
  <div class="page">
    <header class="header">
      <a href="/" class="header__logo"><img  src="images/header-logo-1.svg" width="100%"></a>
      <div class="header__right">
          <%= require('html-loader!./inner-header.html').default %>
      </div>
    </header>

    <main class="content">
      <section class="flexburton flexburton_test">
        <div class="flexburton__left-side">
            <div class="flexburton__breadcrumbs">
              <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
              <a class="flexburton__breadcrumbs-link" href="/production.html">Продукция</a>
              <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href=".">Блочные тепловые пункты</a>
            </div>
            <h1 class="flexburton__title animate__animated animate__slow animate__bounceInLeft">Блочные тепловые пункты</h1>
            <p class="flexburton__subtitle">Изготовление блочных тепловых пунктов на базе пластинчатых теплообменников собственного производства<a class="flexburton__link link-beauty" href="#"> Подробнее &#8594;</a></p>
        </div>
        <div class="flexburton__right-side">
          <img class="flexburton__main-image" src="images/btp_test.png" alt="Опять двойка">
          <svg class="flexburton__svg flexburton__svg_page_btp rotation" width="860" height="860" viewBox="0 0 860 860" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M424.715 8.58299L430 0L435.285 8.58299L610.874 293.768L600.388 293.904L430 17.166L256.865 298.365L246.211 298.504L424.715 8.58299ZM223.875 334.78L5.54132 689.39L0 698.39H10.5691H408.795L404.218 689.39H16.1104L228.656 344.181L223.875 334.78ZM459.27 689.39L454.898 698.39H849.431H860L854.459 689.39L633.569 330.629L628.908 340.224L843.89 689.39H459.27Z" fill="#E7441C"/>
          </svg>
        </div>
      </section>

      <section class="description">
        <div class="two-columns wow animate__animated animate__fadeInDown" data-wow-offset="450" data-wow-mobile="false">
          <h2 class="two-columns__brief">Производство блочных тепловых пунктов</h2>
          <div class="two-columns__main-text">
              <p class="two-columns__paragraph">БТП - блочные тепловые пункты - готовое решение от производителя теплообменного оборудования. Другими словами, это блочные ИТП, которые изготавливаются и испытываются на территории предприятия.</p>
              <p class="two-columns__paragraph">На БТП, в отличие от ИТП, выдается гарантия целиком на изделие. Изготавливаем блоки ГВС и блоки отопления по принципиальным схемам, которые представлены ниже, также вы можете заказать автоматизированный тепловой пункт, заполнив опросный лист. Мы предлагаем купить блочные тепловые пункты по выгодной цене, которую оперативно рассчитают инженеры предприятия ООО "Термоблок" и проконсультируют по вопросам монтажа, доставки и сервису оборудования.</p>
          </div>
        </div>
      </section>

      <section class="introgrid">
        <h2 class="introgrid__header">Преимущества работы с производителем</h2>
        <p class="introgrid__desc">С 1993 года реализованы поставики во все регионы России. Вы можете ознакомиться с примерами проектов.</p>
        <div class="introgrid__button">
          <a href="#" class="link-beauty " style="text-decoration: none; font-size: 18px; padding: 15px 0; color: white;width: 100%; text-align: center; background-color: #f2f2f22d">Рассчитать тепловой пункт</a>
        </div>
        <div class="table table_page_btp introgrid__feat" style="flex: 0 0 570px; position: relative;">
          <div style="position: absolute; top:0; left: 0px;"><img src="./images/rect_sect.svg" width="30%"></div>
          <div style="position: absolute; top:0; right: 0px; transform: scaleX(-1);"><img src="./images/rect_sect.svg" width="30%"></div>
          <div class="table__cell">
              <h3 class="table__heading table__heading_page_btp">Расчёт и подбор</h3>
              <p class="table__text table__text_page_btp">Пластинчатые теплообменники для ГВС ставятся в закрытых системах водоснабжения жилых домов, в котельных..</p>
          </div>
          <div class="table__cell">
              <h3 class="table__heading table__heading_page_btp table__heading_align_right">Собственное производство теплообменников</h3>
              <p class="table__text table__text_page_btp table__text_align_right">Теплообменники для отопления </p>
          </div>
          <div class="table__cell">
              <h3 class="table__heading table__heading_page_btp">Сотрудничество напрямую с заводом</h3>
              <p class="table__text table__text_page_btp ">Пластинчатые охладители и пастеризаторы для молочного производства, пивоварения, виноделия и прочих.</p>
          </div>
          <div class="table__cell">
              <h3 class="table__heading table__heading_page_btp table__heading_align_right">Доставка и гарантия</h3>
              <p class="table__text table__text_page_btp table__text_align_right">Разбейте навык на элементы.</p>
          </div>
          <div style="position: absolute; bottom:-60px; left: 0px; transform: scaleY(-1);"><img src="./images/rect_sect.svg" width="30%"></div>
          <div style="position: absolute; bottom:-60px; right: 0px; transform: scale(-1);"><img src="./images/rect_sect.svg" width="30%"></div>
        </div>
      </section>

        <div class="techniques__after" >
          <div class="techniques__after_before wow" data-wow-offset="100"></div>
        </div>

        <h2 class="section-title" style="margin-top: 80px;">Схемы комплектации тепловых пунктов</h2>

        <div style="display: flex; flex-direction: row;">
        <div class="btp-schemes__pagination-container">
          <!--<span class="btp-schemes__bullet btp-schemes__bullet_active">Узел ввода</span>
          <span class="btp-schemes__bullet">Зависимое отоппление</span>
          <span class="btp-schemes__bullet">Независимое отопление</span>
          <span class="btp-schemes__bullet">Одноступенчатое ГВС</span>
          <span class="btp-schemes__bullet">Двухступенчатое ГВС моноблок</span>
          <span class="btp-schemes__bullet">Двухступенчатое ГВС с двумя теплообменниками</span>-->
        </div>
        <div class="btp-schemes">

            <div class="swiper-wrapper">
              <div class="btp-schemes__sheme swiper-slide">
                <img src="images/sheme__test.svg" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="images/sheme__test2.svg" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="images/sheme__test3.svg" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="images/sheme__test4.svg" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="images/sheme__test5.svg" class="btp-schemes__img">
              </div>
              <div class="btp-schemes__sheme swiper-slide">
                <img src="images/sheme__test6.svg" class="btp-schemes__img">
              </div>
          </div>


        </div>
      </div>

      <section class="btp-presentation" style="background-color: #f2f2f210; margin-top: 50px;">

        <section class="oakley" >
          <div class="two-columns">
            <h2 class="two-columns__brief two-columns__brief_uppercase">БТП "Термоблок"</h2>
            <div class="two-columns__main-text">
              <p class="two-columns__paragraph">Блочные тепловые пункты изготавливаются на базе производственных мощностей компании ООО "Термоблок".Являясь непосредственным производителем пластинчатых теплообменников (ТМ - "Теплохит"), мы обладаем большим опытом производства теплообменного оборудования и установок.</p>
              <p class="two-columns__paragraph">Блоки теплового пункта смонтированы на раме и укомплектованы всеми необходимыми комплектующими. Производство БТП - одно из приоритетных направлений деятельности завода.</p>
            </div>
          </div>
        </section>

        <section class="btp-adv">
          <div class="btp-adv__feats">
            <img src="images/btp-adv-img.png" class="btp-adv__image">
            <div class="btp-adv__plus wow" data-wow-offset="200" data-wow-delay=".5s" data-wow-duration="3s">
              <p class="btp-adv__feat wow" data-wow-offset="200" data-wow-delay=".5s" data-wow-duration="3s">Теплообменник собственного производства</p>
            </div>
            <div class="btp-adv__plus wow" data-wow-offset="200" data-wow-delay="1.5s" data-wow-duration="3s">
              <p class="btp-adv__feat wow" data-wow-offset="200" data-wow-delay="1.5s"  data-wow-duration="3s">Квалифицированный подбор оборудования на обвязку</p>
            </div>
            <div class="btp-adv__plus wow" data-wow-offset="200" data-wow-delay="2s" data-wow-duration="3s"">
              <p class="btp-adv__feat wow" data-wow-offset="200" data-wow-delay="2s"  data-wow-duration="3s">Заводские испытания теплового пункта</p>
            </div>
          </div>
          <a href="#" class="btp-adv__link link-beauty">Рассчитать стоимость  &#8594;</a>
        </section>
        <div class="btp-presentation__callback" style="max-width: 80%; margin: 30px auto 0;">
          <form class="lineform" method="post" action="#" id="formCallBack" name="formCallBack" novalidate>
            <h2 class="lineform__heading">Проконсультироваться с инженером</h2>
            <p class="lineform__description">Инженер завода по подбору блочных индивидуальных тепловых свяжется с Вами в кратчайшее время</p>
            <div style="border: 0; padding: 0;">
              <input class="lineform__input lineform__input_type_name" id="name-input" name="name" placeholder="Имя" minlength="2" maxlength="30" type="text" required  />
              <span class="lineform__input-error name-input-error"></span>
              <input class="lineform__input lineform__input_type_tel" id="tel-input" name="tel" placeholder="Телефон для связи" type="tel" minlength="2" maxlength="200" required  />
              <span class="lineform__input-error tel-input-error"></span>
              <button class="lineform__button-save lineform__button-save_type_callback" type="submit">Оставить заявку</button>
            </div>
          </form>
        </div>
      </section>
      <style>
        .swiper-container {
          width: 100%;
          height: 100%;
        }

        .swiper-slide-btp {
          text-align: center;
          font-size: 18px;
          background: rgba(66, 66, 66, 0.678);

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }

        .swiper-slide .btp-big-swiper__image {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .btp-big-swiper {
          height: 500px;
          width: 100%;
          overflow: hidden;
          position: relative;
        }
      </style>
      <!--
      <div class="btp-big-swiper">
        <div class="swiper-container btpBigSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="btp-big-swiper__image" src="https://swiperjs.com/demos/images/nature-1.jpg" />
            </div>
            <div class="swiper-slide">
              <img class="btp-big-swiper__image" src="https://swiperjs.com/demos/images/nature-2.jpg" />
            </div>
            <div class="swiper-slide">
              <img class="btp-big-swiper__image" src="https://swiperjs.com/demos/images/nature-3.jpg" />
            </div>
            <div class="swiper-slide">
              <img class="btp-big-swiper__image" src="https://swiperjs.com/demos/images/nature-4.jpg" />
            </div>

          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>-->
      <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiperBigBtp = new Swiper(".btpBigSwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

    <section>
      <h2 style="margin: 0; padding: 20px 0; text-align: center; color: #f2f2f2;background-color:#f2f2f210; border-top: 2px solid #f2f2f22d;;">Блочные тепловые пункты от производителя</h2>
      <div class="table_type_grid">
        <div class="table__cell table__cell_type_grid">
          <h3 class="table__heading table__heading_page_btp">Оперативный расчёт</h3>
          <p class="table__text table__text_page_btp">В сжатые сроки рассчитаем стоимость и при необходимости подготовим проект блочного теплового пункта. Расчёт стоимости - от 1 рабочего дня.</p>
        </div>
        <div class="table__cell table__cell_type_grid">
            <h3 class="table__heading table__heading_page_btp">Выгодная цена</h3>
            <p class="table__text table__text_page_btp">Мы предлагаем гибкие ценовые условия на БТП за счет оптимальной стоимости теплообменника собственного производства со скидкой в совокупности с опотовыми поставками доп. оборудованиия.</p>
        </div>
        <div class="table__cell table__cell_type_grid">
            <h3 class="table__heading table__heading_page_btp">Срок изготовления</h3>
            <p class="table__text table__text_page_btp">От 20 рабочих дней</p>
        </div>
        <div class="table__cell table__cell_type_grid">
            <h3 class="table__heading table__heading_page_btp">Технический дизайн</h3>
            <p class="table__text table__text_page_btp">Мы предлагаем гибкие ценовые условия на БТП за счет оптимальной стоимости теплообменника собственного производства со скидкой в совокупности с опотовыми поставками доп. оборудованиия.</p>
        </div>
        <div class="table__cell table__cell_type_grid">
          <h3 class="table__heading table__heading_page_btp">Разработка персонализированной панели управления БТП</h3>
          <p class="table__text table__text_page_btp">Мы предлагаем гибкие ценовые условия на БТП за счет оптимальной стоимости теплообменника собственного производства со скидкой в совокупности с опотовыми поставками доп. оборудованиия.</p>
      </div>
      </div>

    </section>

        <section class="bpou">
          <div class="bpou__info">
            <span class="bpou__intro">Смотрите также</span>
            <h2 class="bpou__heading">Блочные пастеризационно охладительные установки</h2>
            <p class="bpou__description">На базе теплообменников собственного производства наше предприятие имеет большой опыт в изготовлении пищевых установок. Зачастую - это пастеризаторы вина, сусла на основе двухступенчатой системы нагрева.</p>
            <div class="beauty-button"><a href="#" class="po__link" style="text-align:center; width: 100%;font-size: 16px;margin: 0; color: white;">Перейти</a></div>
          </div>
          <div class="bpou__image-container">
            <img src="images/teplojit-pou.png" class="bpou__image">
          </div>
        </section>

        <section class="up-footer up-footer_bg_none ">
            <ul class="up-footer__list">
              <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay=".4s">Рассчитать теплообменник</li>
              <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="1.2s">Заявка на обратный звонок</li>
              <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="2.0s">Скачать опросный лист</li>
            </ul>
          </section>
          </main>
          <%= require('html-loader!./inner-footer.html').default %>
  </div> <!--page-->

        <script>
          anime({
              targets: 'path',
              fill: function() {
                  let a=anime.random(0, 1);
                  if (a==0) {
                      return '#ffffff';
                  } else {
                      return '#000000';
                  }
              },
              easing: 'linear',
              duration: 1,
              complete: randomValues
          });
          randomValues();
      </script>
        <script src="js/wow.min.js"></script>
         <script>
         new WOW().init();
         </script>

         <script src="js/anime.min.js"></script>
         <script>
          anime({
            targets: '.tm-btp-advantages path',
            strokeDashoffset: [anime.setDashoffset, 2],
            easing: 'steps(5)',
            duration: 3500,
            delay: function(el, i) { return i * 250 },
            direction: 'normal',
          });
        </script>




        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
          var mySwiper1 = new Swiper('.btp-schemes', {
            // Optional parameters
            direction: 'vertical',
            //loop: true,
            parallax: true,
            effect: 'slide',
            keyboard: {
              enabled: true,
              onlyInViewport: false,
            },
            cssMode: false,
            mousewheel: false,
            // If we need pagination
            pagination: {
              type: 'bullets',
              el: '.btp-schemes__pagination-container',
              clickable: true,
              bulletClass: 'btp-schemes__bullet',
              bulletActiveClass: 'btp-schemes__bullet_active',
              renderBullet: function (index, className) {
                  let a = '';
                  if (index==0) {
                    a = 'Узел ввода'
                  }
                  if (index==1) {
                    a = 'Зависимое отоппление'
                  }
                  if (index==2) {
                    a = 'Независимое отопление'
                  }
                  if (index==3) {
                    a = 'Одноступенчатое ГВС'
                  }
                  if (index==4) {
                    a = 'Двухступенчатое ГВС моноблок'
                  }
                  if (index==5) {
                    a = 'Двухступенчатое ГВС с двумя теплообменниками'
                  }
                  return '<span class=' + className + '>' + a + '</span>';
              }
            },

            // Navigation arrows
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
              //el: '.swiper-scrollbar',
            },
          })
        </script>
      </body>
      </html>
