<!DOCTYPE html>
<html lang="ru">
<head>
  <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/blog-proizvodstva/"  rel="canonical" />
</head>
<body>
  <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
  <div class="page page_up">
    <header class="header header-up content">
      <a href="/" class="header__logo">
        <img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термоблок"/>
      </a>
      <div class="header__right">
        <%= require('html-loader!./insets/asides/inner-header.html').default %>
      </div>
    </header>


  <main class="content">
    <div class="flexburton__breadcrumbs">
      <a class="flexburton__breadcrumbs-link" href="#">Главная</a>
      <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>">Блог производителя</a>
    </div>
    <h1 class="title-page">Блог производителя</h1>
    <h2 class="up-title up-title_svg mt-14">Новости</h2>
    <ul class="grid grid-cols-3 gap-5 pt-4 border-t border-primary-strokke1 mobile:grid-cols-1">
      <% newsData.filter(i=> i.type.includes('news')).map(art => { %>
        <li class="relative">
          <img src="<%= require(`./api-images/blog-posters/${art.articleInnerFile}.png`)%>" alt="<%= art.heading %>">
          <p class="text-sm my-1 text-gray-400"><%= art.formattedDate %></p>
          <h3 class="up-text-title font-medium mb-2"><%= art.heading %></h3>
          <p class="text-m text-blacktheme-white max-w-[384px]"><%= art.description %></p>
          <a class="" href="/blog-proizvodstva/<%= art.staticPage %>">
            <span class="inset0"></span>
          </a>
        </li>
      <% }) %>
    </ul>
    <div class="grid grid-cols-12 items-start mt-20 mobile:block">
      <h2 class="col-span-5 up-title up-title_svg">Полезные мартериалы</h2>
      <form class="invisible col-span-7 filter-form flex gap-2 " name="filterForm" id="filterForm">
        <label>
          <input class="filter-form__input" type="checkbox" name="filterbox" value="news">
          <span class="blog-grid__filter-span">Новости компании</span>
        </label>
        <label>
          <input class="filter-form__input" type="checkbox" name="filterbox" value="gkh">
          <span class="blog-grid__filter-span">ЖКХ</span>
        </label>
        <label>
          <input class="filter-form__input"  type="checkbox" name="filterbox" value="food">
          <span class="blog-grid__filter-span">Пищевые</span>
        </label>
      </form>
    </div>
    <section class="grid grid-cols-12 items-start pt-4 border-t border-primary-strokke1  mobile:block">
        <h2 class="col-span-2 upsubtitle">ЖКХ</h2>
        <div class="col-start-6 col-span-7">
          <h3 class="subtitle">Теплообменники в сфере жкх</h3>
          <ul class="cards-js-rendered">
            <!--<li class="infoitem">
              <div class="infoitem__header">
                <span class="infoitem__span-button">Проект</span>
                <span class="infoitem__span-button">Отопление</span>
              </div>
              <a class="infoitem__link" href="/blog-proizvodstva/plastinchatye-teploobmenniki-otopleniya.html">
                <h2 class="infoitem__name">Пластинчатые пастеризаторы</h2>
                <p class="infoitem__description">Пластинчатые теплообменники в технологических процессах пастеризации жидкости.</p>
              </a>
            </li>
            -->
          </ul>
          <button class="infocards__more-button infocards__more-button_hidden button-bem button-bem_blog">Показать еще</button>
        </div>
    </section>
    <section class="grid grid-cols-12 items-start pt-4 mt-20 border-t border-primary-strokke1 mobile:block">
      <h2 class="col-span-2 upsubtitle">Пищевая отрасль</h2>
      <div class="col-start-6 col-span-7">
        <h3 class="subtitle">Теплообменники в пищевой отрасли</h3>
        <ul class="">
          <% newsData.filter(i=> i.type.includes('food')).map(art => { %>
            <li class="card-item mb-3 border-t border-primary-strokke1 hover:border-orange-light group">
              <div class="card-item-header">
              </div>
              <a class="card-item-link pt-5 pb-2 block relative" href="/blog-proizvodstva/<%= art.staticPage %>">
                <h2 class="card-item-title text-zinc-300 text-xl font-semibold leading-snug max-w-lg"><%= art.heading %></h2>
                <p class="card-item-description text-zinc-300 text-base mt-7 max-w-sm hidden group-hover:block"><%= art.description %></p>
                <svg class="size-6 absolute top-5 stroke-primary-strokke1 group-hover:stroke-orange right-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                </svg>
              </a>
            </li>
          <% }) %>
          <!--<li class="infoitem">
            <div class="infoitem__header">
              <span class="infoitem__span-button">Проект</span>
              <span class="infoitem__span-button">Отопление</span>
            </div>
            <a class="infoitem__link" href="/blog-proizvodstva/plastinchatye-teploobmenniki-otopleniya.html">
              <h2 class="infoitem__name">Пластинчатые пастеризаторы</h2>
              <p class="infoitem__description">Пластинчатые теплообменники в технологических процессах пастеризации жидкости.</p>
            </a>
          </li>
          -->
        </ul>
        <button class="infocards__more-button infocards__more-button_hidden button-bem button-bem_blog">Показать еще</button>
      </div>
    </section>

        </main>
        <!--<section class="up-footer">
          <ul class="up-footer__list">
            <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay=".4s">Рассчитать теплообменник</li>
            <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="1.2s">Заявка на обратный звонок</li>
            <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="2.0s">Скачать опросный лист</li>
          </ul>
      </section>-->
        <%= require('html-loader!./insets/asides/inner-footer.html').default %>
        <template id="article-template">
          <li class="card-item mb-3 border-t border-primary-strokke1 hover:border-orange-light group">
            <div class="card-item-header">
              <!--<span class="infoitem__span-button">Проект</span>
              <span class="infoitem__span-button">ГВС</span>
              <span class="infoitem__span-button">ТИ82</span>-->
            </div>
            <a class="card-item-link pt-5 pb-2 block relative" href="#">
              <h2 class="card-item-title text-zinc-300 text-xl font-semibold leading-snug max-w-lg">Пластинчатые пастеризаторы</h2>
              <p class="card-item-description text-zinc-300 text-base mt-7 max-w-sm hidden group-hover:block">Пластинчатые теплообменники в технологических процессах пастеризации жидкости.</p>
              <svg class="size-6 absolute top-5 stroke-primary-strokke1 group-hover:stroke-orange right-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
              </svg>

            </a>
          </li>
        </template>
        </div>

</body>
</html>
