<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="bg"></div>
  <div class="page">
    <header class="header">
      <a href="index.html" class="header__logo">
        <img src="<%=require('./images/header-logo-1.svg')%>" width="100%"/>
      </a>
      <div class="header__right">
        <%= require('html-loader!./inner-header.html').default %>
      </div>
  </header>
  <div class="flexburton__breadcrumbs flexburton__breadcrumbs_outside">
    <a class="flexburton__breadcrumbs-link" href="#">Главная</a>
    <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here">О компании</a>
  </div>

  <main class="content">
    <h1 class="content__title">Статьи и информация</h1>

    <section class="infocards">
          <ul class="infoitems">
            <li class="infoitem">
              <div class="infoitem__header">
                <span class="infoitem__span-button">Проект</span>
              </div>
              <a class="infoitem__link" href="./plastinchatye-teploobmenniki-otopleniya.html">
                <h2 class="infoitem__name">Пластинчатые пастеризаторы</h2>
                <p class="infoitem__description">Пластинчатые теплообменники в технологических процессах пастеризации жидкости.</p>
              </a>
            </li>
            <li class="infoitem">
              <div class="infoitem__header">
                <span class="infoitem__span-button">Проект</span>
              </div>
              <a class="infoitem__link" href="info.html">
                <h2 class="infoitem__name">Пластинчатые пастеризаторы</h2>
                <p class="infoitem__description">Пластинчатые теплообменники в технологических процессах пастеризации жидкости.</p>
              </a>
            </li>
            <li class="infoitem">
              <div class="infoitem__header">
                <span class="infoitem__span-button">Проект</span>
              </div>
              <a class="infoitem__link" href="info.html">
                <h2 class="infoitem__name">Пластинчатые пастеризаторы</h2>
                <p class="infoitem__description">Пластинчатые теплообменники в технологических процессах пастеризации жидкости.</p>
              </a>
            </li>
            <li class="infoitem">
              <div class="infoitem__header">
                <span class="infoitem__span-button">Проект</span>
              </div>
              <a class="infoitem__link" href="info.html">
                <h2 class="infoitem__name">Пластинчатые пастеризаторы</h2>
                <p class="infoitem__description">Пластинчатые теплообменники в технологических процессах пастеризации жидкости.</p>
              </a>
            </li>
          </ul>

          <button class="infocards__more-button">Показать еще</button>
        </section>

        <section class="up-footer">
            <ul class="up-footer__list">
              <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay=".4s">Рассчитать теплообменник</li>
              <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="1.2s">Заявка на обратный звонок</li>
              <li class="up-footer__list-item  wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="2.0s">Скачать опросный лист</li>
            </ul>
        </section>
        </main>
        <%= require('html-loader!./inner-footer.html').default %>
        </div>

</body>
</html>
