<!DOCTYPE html>
<html lang="ru">
<head>
  <%= require('html-loader!./inner-google.html').default %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
</head>
<body>
  <%= require('html-loader!./inner-metrika.html').default %>
  <div class="page">
    <header class="header header-up">
      <a href="/" class="header__logo">
        <img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термблок">
      </a>
      <div class="header__right">
        <%= require('html-loader!./insets/asides/inner-header.html').default %>
      </div>
    </header>
    <main class="content">
      <div class="flexburton__breadcrumbs flexburton__breadcrumbs_spec">
        <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_spec" href="/">Главная</a>
        <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_spec" href="/plastinchatye-teploobmenniki/">Пластинчатые теплообменники</a>
        <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_spec flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>"><%= htmlWebpackPlugin.options.heading %></a>
      </div>
      <h1 class="title-page"><%= htmlWebpackPlugin.options.heading %></h1>
      <p class="text-sm text-gray-300 max-w-3xl mobile:text-xs"><%= htmlWebpackPlugin.options.intro %></p>

      <section class="grid grid-cols-12 gap-5 items-start pt-8 mt-14 border-t border-primary-strokke1">
        <h2 class="up-title up-title_svg">Основное</h2>
        <% if (Object.keys(htmlWebpackPlugin.options.templateParameters).includes('bannerImg')) { %>
          <img class="col-start-3 col-span-3 min-w-[150px] rounded-2xl max-w-[382px] mobile:rounded-xl mobile:opacity-50 mobile:h-full mobile:-z-10 mobile:absolute mobile:w-[45%] mobile:top-0 mobile:right-1 mobile:object-cover mobile:object-left-top" src="<%= require(`./images/${bannerImg}`)%>">
        <% } %>
        <div class="specarticle-cont col-start-6 col-span-7">
          <%= require('html-loader!./articles-spec/' + articleFile).default %>
        </div>
      </section>
      <h2 class="up-title up-title_svg">Смотрите также</h2>
      <div class="my-6 grid grid-cols-12 gap-5 border-t border-primary-strokke1">
        <h3 class="upsubtitle mt-4 leading-none">Конструкция</h3>
        <ul class="col-start-4 col-span-9 ">
          <% specPages.filter(i => i.filename !== htmlWebpackPlugin.options.filename).filter(i=> i.type==='construction').map((art, index) => { %>
            <li class="relative pt-4 <%= index!==0 ? `border-t border-primary-strokke1` : '' %> grid grid-cols-9 gap-5">
              <% if (art.templateParameters.poster) { %>
                <img class="col-span-2" src="<%= require(`./images/serv/${art.templateParameters.poster}`) %>">
              <% } %>
              <div class="col-span-7">
                <h3 class="up-text-title mb-6"><%= art.heading %></h3>
                <p class="text-m max-w-[444px]"><%= art.intro %></p>
              </div>
              <a class="" href="<%= `/${art.filename}` %>">
                <span class="inset0"></span>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
      <div class="my-6 grid grid-cols-12 gap-5 border-t border-primary-strokke1">
        <h3 class="upsubtitle mt-4 leading-none">Эксплуатация</h3>
        <ul class="col-start-4 col-span-9 ">
          <% specPages.filter(i => i.filename !== htmlWebpackPlugin.options.filename).filter(i=> i.type==='service').map((art, index) => { %>
            <li class="relative pt-4 <%= index!==0 ? `border-t border-primary-strokke1` : '' %> grid grid-cols-9 gap-5">
              <% if (art.templateParameters.poster) { %>
                <img class="col-span-2" src="<%= require(`./images/serv/${art.templateParameters.poster}`) %>">
              <% } %>
              <div class="col-span-7">
                <h3 class="up-text-title mb-6"><%= art.heading %></h3>
                <p class="text-m max-w-[444px]"><%= art.intro %></p>
              </div>
              <a class="" href="<%= `/${art.filename}` %>">
                <span class="inset0"></span>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
      <div class="my-6 grid grid-cols-12 gap-5 border-t border-primary-strokke1">
        <h3 class="upsubtitle mt-4 leading-none">Продукция</h3>
        <ul class="col-start-4 col-span-9 ">
          <% specPages.filter(i => i.filename !== htmlWebpackPlugin.options.filename).filter(i=> i.type==='production').map((art, index) => { %>
            <li class="relative pt-4 <%= index!==0 ? `border-t border-primary-strokke1` : '' %> grid grid-cols-9 gap-5">
              <% if (art.templateParameters.poster) { %>
                <img class="col-span-2" src="<%= require(`./images/serv/${art.templateParameters.poster}`) %>">
              <% } %>
              <div class="col-span-7">
                <h3 class="up-text-title mb-6"><%= art.heading %></h3>
                <p class="text-m max-w-[444px]"><%= art.intro %></p>
              </div>
              <a class="" href="<%= `/${art.filename}` %>">
                <span class="inset0"></span>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
    </main>
    <%= require('html-loader!./insets/asides/map-section.html').default %>
    <%= require('html-loader!./insets/asides/inner-footer.html').default %>
  </div>
  <!--Шаблон формы-->
  <template class="form-big-template">
    <%= require('html-loader!./insets/big-form-template.html').default %>
  </template>
</body>
</html>
