<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require('html-loader!./inner-google.html').default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="<%= canonicalURL %>/catalog/"  rel="canonical" />
  </head>

  <body>
    <%= require('html-loader!./inner-metrika.html').default %>
    <div class="page">
      <header class="header header-up">
        <a href="/" class="header__logo"><img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термоблок"/></a>
        <div class="header__right">
          <%= require('html-loader!./insets/asides/inner-header.html').default %>
        </div>
      </header>

      <main class="content">
        <h1 class="title-page">Каталог пластинчатых теплообменников</h1>
        <div class="mt-12 grid grid-cols-12 items-start mobile:grid-cols-1 mobile:*:col-start-1 mobile:*:col-span-1">
            <h2 class="up-title up-title_svg col-span-2">Основное</h2>
            <div class="col-start-7 col-span-6 justify-start">
              <p class="text-m">Номенклатура предприятия включает в себя 14 типоразмеров теплообменных разборных аппаратов. Каждый из теплообменников может иметь разное количество пластин, разное сочетание каналов и исполнение (пищевое или классическое)</p>
              <a class="flex justify-start items-center my-6 text-orange relative" href="/docu/termoblok_catalog.pdf" download>
                <span class="inset0"></span>
                <svg class="w-7 h-7 mr-2 stroke-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
                Скачать каталог
              </a>
            </div>
        </div>
        <ul class="my-12">
          <li class="pt-8 border-t border-primary-strokke1 grid grid-cols-12 items-start mobile:grid-cols-1 mobile:*:col-start-1 mobile:*:col-span-1">
            <h2 class="upsubtitle col-span-2">Теплообменники в классическом исполнении</h2>
            <img class="col-start-5 col-span-2" src="<%= require('./images/catalog.png')%>">
            <ul class="col-start-7 col-span-6 mainmodels__models models-ti timodels">
              <% tis.map(pto => { %>
                <li class="timodels__pto">
                  <a class="timodels__link" href="<%= `/${pto.filename}`%>">
                    <h5 class="timodels__ptotitle"><%= pto.templateParameters.headingAlias %></h5>
                    <p class="timodels__ptodu">ДУ <%= pto.templateParameters.du.map(i=> ` ${i}`) %></p>
                  </a>
                </li>
              <% }) %>
            </ul>
          </li>
          <li class="pt-8 mt-12 border-t border-primary-strokke1 grid grid-cols-12 items-start mobile:grid-cols-1 mobile:*:col-start-1 mobile:*:col-span-1">
            <h2 class="upsubtitle col-span-2">Теплообменники в пищевом исполнении</h2>
            <img class="col-start-5 col-span-2" src="<%= require('./images/pasteriz-article.png')%>">
            <ul class="col-start-7 col-span-6 mainmodels__models models-ti timodels">
              <% foodtis.map(pto => { %>
                <li class="timodels__pto">
                  <a class="timodels__link" href="<%= `/${pto.filename}`%>">
                    <h5 class="timodels__ptotitle"><%= pto.templateParameters.heading %></h5>
                    <p class="timodels__ptodu">ДУ <%= pto.templateParameters.du.map(i=> ` ${i}`) %></p>
                  </a>
                </li>
              <% }) %>
            </ul>
          </li>
        </ul>
      </main>
      <%= require('html-loader!./insets/asides/map-section.html').default %>
      <%= require('html-loader!./insets/asides/inner-footer.html').default %>
      <%= require('html-loader!./insets/popup-big-form.html').default %>
      <%= require('html-loader!./insets/popup-mini-form.html').default %>
    </div>
  </body>
</html>
