<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
  </head>
  <body>
    <%= require('html-loader!./inner-metrika.html').default %>
    <div class="bg"></div>
    <div class="page">
      <header class="header">
        <a href="/" class="header__logo"><img src="<%=require('./images/header-logo-1.svg')%>" class="header__logo-img" alt="Лого Термоблок"/></a>
        <div class="header__right">
          <%= require('html-loader!./insets/asides/inner-header.html').default %>
        </div>
      </header>
      <main class="content">
        <section class="contacts">
          <div class="contacts__intro contact-padding-in-grid">
            <div class="flexburton__breadcrumbs contacts__breadcrumbs">
              <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
              <a class=" flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>">Контакты</a>
            </div>
            <h1 class="contacts__heading">Контакты ООО “Термоблок”</h1>
            <div class="actions contacts__actions">
              <button class="actions__button callback-button">Перезвоните мне</button>
              <button class="actions__button raschet-button">Рассчитать теплообменник</button>
              <button class="actions__button callback-partner-button">Вопрос о сотрудничестве</button>
            </div>
          </div>
          <div class="contacts__main">
              <!--<div style="position: absolute; top:0; left: 0; z-index: 0;"><img src="<%=require('./images/rect_sect.svg')%>" style="width: 30%;"></div>-->
              <figure class="highliter highliter_top-left"><div class="highliter__element highliter__element_stretched"></div></figure>
              <figure class="highliter highliter_bottom-right"><div class="highliter__element highliter__element_stretched"></div></figure>
              <ul class="contact-list">
                  <li>
                      <h3 class="contacts__main-title">Контакты:</h3>
                      <ul class="contact-list">
                          <li><a class="contacts__tel contacts__link" href="mailto:market@termoblok.ru">market@termoblok.ru</a></li>
                          <li><a  class="contacts__tel contacts__link span-no-wrap" href="tel:+73852996980">+7 (385) 299-69-80</a></li>
                      </ul>
                  </li>
                  <li>
                      <p class="contacts__tel"><span  class="contacts__main-title">Телефон горячей линии: </span><a  class="contacts__tel contacts__link span-no-wrap" href="tel:+78007002924">8-800-700-29-24</a></p>
                  </li>
                  <li>
                      <h3 class="contacts__main-title">Производство и отдел продаж:</h3>
                      <p class="contacts__paragraph" style="max-width: 300px;">
                        г. Барнаул, ул. Кулагина 28
                        <span class="span-no-wrap span-bsz">(Барнаульский станкостроительный завод)</span>
                      </p>
                  </li>
              </ul>
          </div>
          <div class="contacts__recv contact-padding-in-grid">
            <h2>Реквизиты ООО "Термоблок"</h2>
            <ul class="contact-list">
                <li>ООО "Термоблок"</li>
                <li>ИНН/КПП: <span class="span-decoration-none">2224044880</span>/222401001</li>
                <li>Банк: Алтайское отделение № 8644 Сбербанка России г. Барнаул</li>
                <li>БИК: <span class="span-decoration-none">040173604</span></li>
                <li>к/с: 30101810200000000604</li>
                <li>р/с: 40702810502140012418</li>
                <li>Управляющий директор: </li>
                <li>Чернов Максим Васильевич</li>
                <li>(на основании генеральной доверенности б/н от 31.12.2021 г.)</li>
                <li>Главный бухгалтер:</li>
                <li>Бедарева Элла Владимировна</li>
            </ul>
            <p>Приёмная: <a  class="contacts__tel contacts__tel_small contacts__link span-no-wrap" href="tel:+73852775592"> +7 (3852) 77-55-92</a></p>
            <p>Отдел металлообработки: <a  class="contacts__tel contacts__tel_small contacts__link span-no-wrap" href="tel:+73852532843">+7 (3852) 53-28-43</a></p>
            <a class="contacts__recv-download link-beauty" href="docu/Rekviziti_OOO_Termoblok.doc" download>Скачать реквизиты</a>
          </div>
          <div class="contacts__ya-map">
              <script type="text/javascript" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A397d4c8a0bcca922b57633d6c446b7c965f2df02e0e40f00addca2ad1b45d0da&amp;width=100%25&amp;lang=ru_RU&amp;scroll=false"></script>
          </div>
          <div class="contacts__msk contact-padding-in-grid">
            <h3 class="contacts__main-title">Дополнительный офис</h3>
              <ul class="contact-list">
                  <li class="contacts__tel">Адрес: г. Одинцово, поселок Акулова, ул. Новая. д. 144</li>
                  <li class="contacts__tel">Телефон: <a  class="contacts__tel contacts__link" href="tel:+74951222452">8 (495) 122-24-52</a></li>
              </ul>
          </div>
        </section>
      </main>
      <section class="map">
        <h2 class="map__heading">Партнеры по продажам и сервису по всей России</h2>
        <div class="map__list-container">
          <ul class="map__list">
          </ul>
          <!--Сюда встанут карточки партнеров-->
          <div class="map__popup">
            <span class="map__popup-close">&lt;-- Назад</span>
            <ul class="map__popup-container"></ul>
          </div>
        </div>
        <div class="map__partner"></div>
      </section>
      <%= require('html-loader!./insets/asides/inner-footer.html').default %>
      <%= require('html-loader!./insets/popup-mini-form.html').default %>
      <%= require('html-loader!./insets/popup-big-form.html').default %>
    </div>
    <!--Шаблон элемента партнера на карте-->
    <template id="partner-item-template">
      <li class="map__list-item" data-html="<b>ООО «Интерсервис»</b><br> Тел.: 8-914-130-30-30<br>">Чита</li>
    </template>
    <script async src="//callkeeper.ru/w/?8e469928"></script>
  </body>
</html>