<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="<%= canonicalURL %>/equipment-selection/"  rel="canonical" />
  </head>

  <body>
    <%= require('html-loader!./inner-metrika.html').default %>
    <div class="bg"></div>
    <div class="page">
      <header class="header">
        <a href="/" class="header__logo"><img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термоблок"/></a>
        <div class="header__right">
          <%= require('html-loader!./insets/asides/inner-header.html').default %>
        </div>
      </header>

      <!--<main class="content" style="display: grid; grid-template-columns: minmax(min-content, max-content) min-content; grid-template-rows: auto 1fr">-->
      <main class="content content_page_equip">
        <div class="flexburton__breadcrumbs equipment__breadcrumbs">
            <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
            <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>">Подбор и расчет пластинчатых теплообменников</a>
        </div>
        <h1 class="equipment__title">Подбор и расчет пластинчатых теплообменников</h1>
        <div class="equipment__desc">
              <p class="inforaschet__details">Расчёт выполняется под контролем квалифицированных инженеров.</p>
              <section class="card-list"></section>
              <button class="button-bem equipment__mobile-raschet">Рассчитать --></button>
        </div>
        <div class="equipment__form-container">
          <div class="equipment__choices">
            <form class="choice-form" id="formChoice" name="formChoice" novalidate>
              <label class="choice-form__label">
                <input type="radio" value="big" class="choice-form__input" name="radio" checked="checked">
                <span class="choice-form__heading">Заявка на расчёт</span>
              </label>
              <span class="choice-form__splitter">/</span>
              <label class="choice-form__label">
                <input type="radio" value="free" class="choice-form__input" name="radio">
                <span class="choice-form__heading">Заявка в свободном формате</span>
              </label>
            </form>
          </div>
          <div class="equipment__submit-form section-submit">
            <!--Здесь прорисуется форма-->
          </div>
        </div>
      </main>

      <template class="message-template message-template_type_user">
        <div class="message message_type_user">
          <div class="message__text">
            <p class="message__paragraph"></p>
          </div>
        </div>
      </template>
      <template class="message-template message-template_type_default">
        <div class="message">
          <img src="" alt="Аватар пользователя" class="message__avatar">
          <div class="message__text">
            <p class="message__paragraph"></p>
          </div>
        </div>
      </template>
      <template class="form-big-template">
        <%= require('html-loader!./insets/big-form-template.html').default %>
      </template>
      <template class="form-free-template">
        <%= require('html-loader!./insets/mini-form-template.html').default %>
      </template>

      <section class="map">
        <h2 class="map__heading">Партнеры по продажам и сервису по всей России</h2>
        <div class="map__list-container">
          <ul class="map__list">
          </ul>
          <!--Сюда встанут карточки партнеров-->
          <div class="map__popup">
            <span class="map__popup-close">&lt;-- Назад</span>
            <ul class="map__popup-container"></ul>
          </div>
        </div>
        <div class="map__partner"></div>
      </section>

      <%= require('html-loader!./insets/asides/inner-footer.html').default %>
    </div>

    <!--Шаблон элемента партнера на карте-->
    <template id="partner-item-template">
      <li class="map__list-item">Чита</li>
    </template>
  </body>
</html>
