<!DOCTYPE html>
<html lang="ru">
<head>
  <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
</head>
<aside class="py-2 bg-gray-500">
  <div class="content">
    <p class="uppercase text-m font-medium">Приглашаем на выставку HEAT&POWER-2024!</p>
  </div>
</aside>
<body class="page">
     <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
    <div >

    <header class="header header-up content">
      <a href="/" class="header__logo"><img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термоблок"/></a>
      <div class="header__right">
          <%= require('html-loader!./insets/asides/inner-header.html').default %>
      </div>
    </header>

    <main>
      <div class="flexburton flexburton_test flexburton_static-bg">
        <div class="flex w-full content">

          <div class="basis-1/2 flex justify-center items-center">
            <img class="flexburton__main-image" src="<%=require('./images/many-section-grid.png')%>" alt="Пластинчатый теплообменник">
          </div>
          <div class="basis-1/2 flex flex-col justify-between">
            <div class="flexburton__breadcrumbs">
              <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
              <a class="flexburton__breadcrumbs-link" href="/production.html">Продукция</a>
              <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>">Пищевые теплообменники</a>
            </div>
              <!--<img class="logo logo_place_header" src="images/logo-to-2_place_header.svg" alt="Профи">-->
            <h1 class="title-page animated slower fadeInLeftPlastTo">Пищевые теплообменники</h1>
            <p class="flexburton__subtitle flexburton__subtitle_size_m"><!--Отечественные разборные пластинчатые теплообменники и пластины от производителя ООО "Термоблок"<br> с доставкой по России. --></p>
          </div>
        </div>
      </div>
      <div class="content">
      <section class="container-2 my-14">
          <h2 class="up-title up-title_svg">О продкуции</h2>
          <div class="">
            <p class="text-m max-w-[760px]">Отличительной особенностью пищевых пластинчатых теплообменников является рама в специальном исполнении: она изготовлена из нержавеющей стали, либо облицована нержавеющей сталью. Специальные присоединения по <span class="span-bold span_color_orange">DIN 11850</span> обеспечивают высокие гигиенические показатели пищевых теплообменников.</p>
            <p class="text-m max-w-[760px] mt-5">Большой опыт работы в данном направлении позволяет нам предлагать инновационные решения по использованию теплообменников в различных технологических процессах пищевой промышленности. Теплообменное оборудование отвечает высоким требованиям пищевой отрасли. Наша компания предлагает выгодно купить пищевые теплообменники для пищевой промышленности.</p>
          </div>
      </section>


    <section class="container-2">
      <h2 class="up-title up-title_svg">Области применения</h2>
      <div class="">
        <h2 class="subtitle">Области применения</h2>
        <p class="text-m max-w-[760px]">Пластинчатый теплообменник марки <img class="inline-block" src="<%=require('./images/svg-teplohit.svg')%>" style="height: 1em;position: relative;" alt="Теплохит"> имеет высокую эффективность, что позволяет создавать теплообменники с коэффициентом регенерации тепла 92% и выше и вести <span class="span-bold span-bold_spacing" >температурную обработку в мягких режимах</span>, не допуская перегрева или переохлаждения продукта.</p>
      </div>
      <ul class="col-span-2 mt-8 *:pt-4 *:border-t *:border-primary-strokke1 *:grid *:grid-cols-12 mobile:*:block mobile:*:py-4">
        <li>
          <span class="upsubtitle col-span-2">молоко, сливки, мороженое</span>
          <img class="col-span-4 justify-self-end" src="<%=require('./images/foodnew/mol.png')%>" alt="теплообменники для молока сливок и мороженого">
          <div class="col-span-6">
            <h3 class="up-text-title text-orange">Теплообменники для молочной промышленности</h3>
            <p class="text-m max-w-[444px] my-7">Для охлаждения и пастеризации молока и молочных продкутов. Теплообменники с секциями регенерации тепла, различными средами нагрева (пар, вода).</p>
            <ul class="flex gap-5">
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Расход</h4>
                <p class="text-m uppercase">0,5-25 тонн/ч</p>
              </li>
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Рабочее давление</h4>
                <p class="text-m uppercase">до 25 атм.</p>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <span class="upsubtitle col-span-2">пиво, сусло, квас, сиропы</span>
          <img class="col-span-4 justify-self-end" src="<%=require('./images/foodnew/piv.png')%>" alt="">
          <div class="col-span-6">
            <h3 class="up-text-title text-orange">Теплообменники для пивоваренной промышленности</h3>
            <p class="text-m max-w-[444px] my-7">Пастеризация и охлаждения сусла с использованием различных сред и температур для охлаждения. Возможно изготопление с полимерным покрытием.</p>
            <ul class="flex gap-5">
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Расход</h4>
                <p class="text-m uppercase">0,5-25 тонн/ч</p>
              </li>
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Рабочее давление</h4>
                <p class="text-m uppercase">до 25 атм.</p>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <span class="upsubtitle col-span-2">вино, соки, спирт</span>
          <img class="col-span-4 justify-self-end" src="<%=require('./images/foodnew/vine.png')%>" alt="">
          <div class="col-span-6">
            <h3 class="up-text-title text-orange">Теплообменники для вина и соков</h3>
            <p class="text-m max-w-[444px] my-7">Пластинчатые теплообменники для пастеризации и охлаждения вина, винных продуктов и соков</p>
            <ul class="flex gap-5">
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Расход</h4>
                <p class="text-m uppercase">3-12 тонн/ч</p>
              </li>
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Рабочее давление</h4>
                <p class="text-m uppercase">до 25 атм.</p>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <span class="upsubtitle col-span-2">вода</span>
          <img class="col-span-4 justify-self-end" src="<%=require('./images/foodnew/cip.png')%>" alt="">
          <div class="col-span-6">
            <h3 class="up-text-title text-orange">CIP мойки</h3>
            <p class="text-m max-w-[444px] my-7">Пищевое исполнение теплообменников</p>
            <ul class="flex gap-5">
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Расход</h4>
                <p class="text-m uppercase">3-12 тонн/ч</p>
              </li>
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Рабочее давление</h4>
                <p class="text-m uppercase">до 25 атм.</p>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <span class="upsubtitle col-span-2">субстанции с воском, пищевые масла</span>
          <img class="col-span-4 justify-self-end" src="<%=require('./images/foodnew/maslo.png')%>" alt="">
          <div class="col-span-6">
            <h3 class="up-text-title text-orange">Теплообменники в масложировой отрасли</h3>
            <p class="text-m max-w-[444px] my-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis error obcaecati, nulla quibusdam totam, dolorem similique corrupti consectetur culpa doloribus veniam.</p>
            <ul class="flex gap-5">
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Расход</h4>
                <p class="text-m uppercase">По согласованию</p>
              </li>
              <li>
                <h4 class="text-[#c4c4c4] text-base font-bold mb-3">Рабочее давление</h4>
                <p class="text-m uppercase">до 25 атм.</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>

    <!--
    <section class="feedback">
      <h2 class="feedback__title">Отзывы заказчиков</h2>
      <div class="feedback__container">
          <div class="feedback__item wow fadeInUp">
            <div class="feedback__logo"><img alt="Лого заказчика" src="<%=require('./images/Logo-Image-Default.png')%>" class="feedback__logo-image"></div>
              <div class="feedback__content">
                  <p class="feedback__text-title feedback__text-title_width_m">ООО “Гроспирон”, производитель мороженого</p>
                  <p class="feedback__text">Специалисты компании ООО “Термоблок” проявили профессионализм в подборе, расчёте теплообменников, аналогов нет на рынке.</p>
              </div>
              <img alt="Отзыв по теплоообменнику для производства мороженого" src="<%=require('./images/feed_test.png')%>" class="feedback__document">
          </div>
          <div class="feedback__item wow fadeInUp" data-wow-delay=".2s">
              <div class="feedback__logo"><img alt="Лого заказчика" src="<%=require('./images/Barnaulskij-pivovarennyj-zavod.png')%>" class="feedback__logo-image"></div>
              <div class="feedback__content">
                  <p class="feedback__text-title feedback__text-title_width_l">ООО “Барнаульский пивоваренный завод”</p>
                  <p class="feedback__text">Специалисты компании ООО “Термоблок” проявили профессионализм в подборе, расчёте теплообменников, аналогов нет на рынке.</p>
              </div>
              <img alt="Отзыв по теплоообменникам для производства напитков" src="<%=require('./images/feed_test.png')%>" class="feedback__document">
          </div>
      </div>
    </section>-->
  </div>
    <section class="container-2 mt-14 ">
      <div class="content container-2 col-span-2 w-full">
        <h2 class="up-title up-title_svg">Продукция</h2>
        <div class="mb-6">
          <h2 class="subtitle">Исполнение теплообменника</h2>
          <p class="text-m max-w-[760px]">Под разные задачи требуются различиные виды исполнений теплообменного аппрарата. Пластинчатый теплообменник может иметь до 12 секций, быть облицованным нержавеющей сталью и иметь разные типы подключений.</p>
        </div>
      </div>
     <ul class="mmx-auto flex *:w-1/2 *:shrink-0 col-span-2 grid-rows-1 *:bg-blacktheme ">
      <li class=" hover:mr-0 group *:p-5 border rounded-2xl bg-blacktheme border-primary-strokke1 z-[1]  grid grid-cols-2  relative row-start-1 row-end-1">
        <div>
          <h3 class="up-title up-title_svg">Полимерная покраска</h3>
          <img src="<%=require('./images/pischevoii-teploobmennik-grid.png')%>" alt="" class="min-w-0 h-80 justify-self-center">
        </div>
        <div class="food-type__description">
          <h2 class="food-type__title">Полимерная покраска</h2>
          <div class="food-type__main-text">
              <p class="text-sm">123123123</p>
          </div>
        </div>
      </li>
      <li class="-ml-[25%] hover:ml-0 group *:p-5 border rounded-2xl bg-blacktheme border-primary-strokke1 grid grid-cols-2 z-[2]  relative row-start-1 row-end-1">
        <div>
          <h3 class="up-title up-title_svg">Односекционные</h3>
          <img src="<%=require('./images/3dSlider/food.png')%>" alt="Односекционное исполнение пластинчатого пищевого теплобменника" class="min-w-52 h-80 justify-self-center">
        </div>
          <div class="food-type__description">
            <h2 class="food-type__title">Односекционные теплообменники</h2>
            <div class="food-type__main-text">
                <p class="text-sm">Пластинчатые пищевые теплообменники в односекционном исполнении предназначены для теплообмена двух сред. Могут изготавливаться с плитой, облицованной нержавеющей сталью, так и плитой, покрытой полимерной краской.</p>
                <p class="text-sm">Односекционные теплообменники зачастую используются в двухступенчатых системах, к примеру: теплообменник пар-вода + теплообменник вода-сусло.</p>
            </div>
          </div>
      </li>

      <li class="-ml-[25%] group *:p-5 border rounded-2xl bg-blacktheme border-primary-strokke1 grid grid-cols-2  z-[3]  relative row-start-1 row-end-1">
        <div>
          <h3 class="up-title up-title_svg">Многосекционные</h3>
          <img src="<%=require('./images/food-many-sect.png')%>" alt="Многосекционное исполнение пластинчатого пищевого теплобоменника" class="min-w-52 h-80 justify-self-center">
        </div>
        <div class="food-type__description" >
          <h2 class="food-type__title">Многосекционные теплообменники</h2>
          <div class="food-type__main-text">
              <p class="text-sm">Пищевые многосекционные теплообменники рассчитываются индивидуально под требования заказчика. Допускается возможность использования сред как в греющей роли, так и в нагреваемой. Проектируются выходы под процессы сепарации, гомогенизации, пастеризации и другие. В секциях происходит нагревание или охлаждение среды под нужные температуры. </p>
              <p class="text-sm">Важной особенностью является регенерация тепла, качественно рассчитанный теплобменник не тратит впустую тепло сред, а сохраненную энергию можно использовать повторно. Это позволяет значительно сократить расходы на электроэнергию.</p>
          </div>
        </div>
      </li>
      <li class="-ml-[25%]  group *:p-5 border rounded-2xl bg-blacktheme border-primary-strokke1 grid grid-cols-2 col-end-5 z-[4]  relative row-start-1 row-end-1">
        <div>
          <h3 class="up-title up-title_svg">2Многосекционные2</h3>
          <img src="<%=require('./images/food-many-sect.png')%>" alt="Многосекционное исполнение пластинчатого пищевого теплобоменника" class="min-w-52 h-80 justify-self-center">
        </div>
        <div class="food-type__description " >
          <h2 class="food-type__title">Многосекционные2 теплообменники</h2>
          <div class="food-type__main-text">
              <p class="text-sm">Пищевые многосекционные теплообменники рассчитываются индивидуально под требования заказчика. Допускается возможность использования сред как в греющей роли, так и в нагреваемой. Проектируются выходы под процессы сепарации, гомогенизации, пастеризации и другие. В секциях происходит нагревание или охлаждение среды под нужные температуры. </p>
              <p class="text-sm">Важной особенностью является регенерация тепла, качественно рассчитанный теплобменник не тратит впустую тепло сред, а сохраненную энергию можно использовать повторно. Это позволяет значительно сократить расходы на электроэнергию.</p>
          </div>
        </div>
      </li>
    </ul>
    </section>

    </main>

    <!--Форма модального окна с картинкой-->
    <div class="popup popup_darked popup-viewport">
      <div class="popup__container">
          <button class="popup__button-close link-beauty" type="button"></button>
          <div class="popup__image-view popup__image-view_food">
              <img class="popup__image popup__image_food" alt="картинка под загрузку" src="<%=require('./images/svg-elems/preloader.gif')%>">
              <p class="popup__image-description popup__image-description_food"></p>
          </div>
      </div>
    </div>
    <!--FOOTER-->
    <%= require('html-loader!./insets/asides/inner-footer.html').default %>
    <%= require('html-loader!./insets/popup-mini-form.html').default %>

  </body>
</html>
