<!DOCTYPE html>
<html lang="ru">
<head>
  <%= require('html-loader!./inner-google.html').default %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

</head>

<body class="page">
    <%= require('html-loader!./inner-metrika.html').default %>
    <header class="header header-up">
      <a href="/" class="header__logo"><img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термоблок"/></a>
      <div class="header__right">
          <%= require('html-loader!./insets/asides/inner-header.html').default %>
      </div>
    </header>
    <main class="content">
        <div class="flexburton flexburton_test flexburton_static-bg">
          <div class="flex w-full twrapper">
            <div class="basis-1/2 flex justify-center items-center">
              <img class="flexburton__main-image" src="<%=require('./images/teplojit-pou.png')%>" alt="Пластинчатый теплообменник">
            </div>
            <div class="basis-1/2 flex flex-col justify-between">
              <div class="flexburton__breadcrumbs">
                <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
                <a class="flexburton__breadcrumbs-link" href="/production.html">Продукция</a>
                <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>">Пастеризационные охладительные установки</a>
              </div>
                <!--<img class="logo logo_place_header" src="images/logo-to-2_place_header.svg" alt="Профи">-->
              <h1 class="title-page animated slower fadeInLeftPlastTo">Пастеризационные охладительные установки</h1>
              <p class="flexburton__subtitle flexburton__subtitle_size_m"><!--Отечественные разборные пластинчатые теплообменники и пластины от производителя ООО "Термоблок"<br> с доставкой по России. --></p>
            </div>
          </div>
        </div>
        <section class="container-2">
          <span class="up-title up-title_svg">О продукции</span>
          <div class="">
            <h2 class="subtitle max-w-[750px]">Производство установки на пастеризацию и охлаждение</h2>
            <p class="text-m mb-14">Пластинчатая пастеризационно-охладительныя установка изготавливается
              на заводе по выгодным ценам. Корпус представляет собой сварную конструкцию, изготовленную из
              нержавеющей стали. Внутри корпуса находятся теплообменники. Теплообменники являются одновременно и охладителями, и
              пастеризаторами. Пластинчатый теплообменник состоит из пластин, установленных в герметичные каналы. Между пластинами
              ставятся резиновые уплотнения, которые обеспечивают герметичность каналов. Пластины изготовлены из нержавеющей стали,
              а между ними
              находится потоки теплопроводящего вещества. При прохождении жидкости через теплообменник происходит процесс теплообмена.
              Подача жидкости осуществляется насосом.
            </p>
            <h3 class="subtitle-sm mb-6">Пастеризационно охладительная установка состоит из корпуса и комплекта* оборудования, состоящего из следующих элементов:</h3>
            <ul class="list-inside text-m  mb-14 list-disc">
              <li>пластинчатый пастеризатор;</li>
              <li>охладитель;</li>
              <li>сепаратор;</li>
              <li>бак-аккумулятор;</li>
              <li>блок управления.</li>
            </ul>
            <h3 class="subtitle-sm mb-6">На корпусе установлены:</h3>
            <ul class="list-inside text-m list-disc">
              <li>насос для подачи воды в пастеризационную установку;</li>
              <li>фильтр-осушитель для очистки воды от механических примесей;</li>
              <li>термометр для контроля температуры воды;</li>
              <li>датчик уровня воды.</li>
            </ul>
            <p class="text-sm mt-3 text-gray-400">* Один из вариантов комплектации</p>
          </div>
        </section>
        <section class="container-2 mt-14 border-t border-primary-strokke1">
          <h2 class="up-title up-title_svg mt-4 row-span-2">Преимущества</h2>
          <ul class="frequently__questions">
            <li class="group frequently__item relative">
              <h4 class="frequently__question">Точный и не избыточный расчёт установки</h4>
              <p class="frequently__answer">Квалифицированные инженеры с большим опытом в пищевых технологических процессах (в том числе пастеризации, охлаждения) оперативно расчитают оптимальное решения.</p>
            </li>
            <li class="group frequently__item relative">
              <h4 class="frequently__question">Теплообменник пастеризационной установки собственного производства</h4>
              <p class="frequently__answer">Пластины, уплотнения пластинчатых теплообменников мы изготавливаем сами.</p>
            </li>
            <li class="group frequently__item relative">
              <h4 class="frequently__question">Сотрудничество напрямую с заводом</h4>
              <p class="frequently__answer ">Вы получаете цену завода. Как правило, мы получаем обратную связь, что наше предложение по пастеризационно-охадительной установке было самое выгодное.</p>
            </li>
            <!-- class="wow fadeInUp" data-wow-delay=".6s"-->
            <li class="group frequently__item relative">
              <h4 class="frequently__question">Доставка и гарантия</h4>
              <p class="frequently__answer">Отгрузим удобной для Вас транспортной компанией.</p>
            </li>
          </ul>
          <button class="ui-button justify-self-start mt-5" type="button">Проконсультироваться с инженером</button>
        </section>
        <section class="container-2 mt-14 py-8 border-t border-primary-strokke1">
          <span class="up-title up-title_svg">ПОУ для молока</span>
          <div class="">
            <h2 class="subtitle">Пастеризационная охладительная установка для молока</h2>
            <p class="text-m font-semibold mt-10 mb-3">Может встречаться в типовых вариантах</p>
            <ul class="list-disc text-m list-inside">
              <li>на 5000 литров в час (5 т/ч)</li>
              <li>на 10000 литров в час (10 т/ч)</li>
              <li>на 15000 литров в час (15 т/ч)</li>
              <li>на 25000 литров в час (25 т/ч)</li>
            </ul>
            <h3 class="subtitle-sm mt-6 mb-3">Устройство установки ПОУ</h3>
            <p class="text-m">
              Для охлаждения молока и других пищевых продуктов применяются пастеризационно-охладительные установки (ПОУ).
              В состав пастеризационной установки входит пастеризатор, охладитель, блок управления и контроля.
              Пастеризаторы бывают двух типов: стационарные и передвижные.
              Передвижные пастеризаторы применяются в молочной промышленности, а также на предприятиях пищевой промышленности других
              отраслей.
              Стационарные пастеризаторы используются на крупных предприятиях пищевой промышленности.
              Для хранения и транспортировки молока и питьевой воды применяются резервуары-охладители.
              При хранении в резервуаре-охладителе температура молока не превышает 4°С. На предприятиях молочной промышленности
              применяются резервуары с погружными подогревателями.
              С помощью погружных подогревателей достигается подогрев молока до нужной температуры и поддержание её на заданном
              уровне.
              На предприятиях пищевой промышленности резервуары могут быть стационарными и передвижными.
            </p>
          </div>
        </section>

      </main>
      <!--FOOTER-->

      <%= require('html-loader!./insets/asides/inner-footer.html').default %>
      <%= require('html-loader!./insets/popup-mini-form.html').default %>


</body>
</html>
