<!DOCTYPE html>
<html lang="ru">
<head>
  <%= require('html-loader!./inner-google.html').default %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/plastinchatye-teploobmenniki/goryachee-vodosnabzhenie-gvs/"  rel="canonical" />
</head>
<body class="page">
  <%= require('html-loader!./inner-metrika.html').default %>
    <header class="header header-up content">
      <a href="/" class="header__logo"><img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термблок"></a>
      <div class="header__right">
        <%= require('html-loader!./insets/asides/inner-header.html').default %>
      </div>
    </header>
    <main class="content">
      <div class="flexburton__breadcrumbs flexburton__breadcrumbs_spec">
        <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_spec" href="/">Главная</a>
        <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_spec" href="/plastinchatye-teploobmenniki/">Пластинчатые теплообменники</a>
        <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_spec flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>"><%= htmlWebpackPlugin.options.heading %></a>
      </div>
      <div class="container-2-lefted">
        <h1 class="title-page col-start-2"><%= htmlWebpackPlugin.options.heading %></h1>
        <p class="text-m col-start-2">
          Теплообменник для горячего водоснабжения разделяет систему на два независимых контура.
          Внешний контур циркулирует теплоноситель от ТЭЦ или котельной, внутренний контур - горячая вода для потребителя.
          В системе горячего водоснабжения могут использоваться разные типы теплообменников, разборный пластинчатый является эффективным вариантом.
        </p>
        <p class="text-m mt-4 col-start-2">
          Существуют одноступенчатая и двухступенчатая схемы ГВС через пластинчатый теплообменник. Двухступенчатая схема ГВС
          экономит теплоноситель за счет вторичного использования тепла из обратного трубопровода отопления.
        </p>
        <a class=" col-start-2 text-m text-orange-dark block font-semibold mt-4 link-beauty" href="/blog-proizvodstva/plastinchatye-teploobmenniki-gvs.html">Подробнее про теплообменники для горячего водоснабжения --></a>
      </div>
      <!--.filter(item => item.naznach === 'гвс')-->
      <section class="container-2-lefted items-start mt-24">
        <span class="up-title up-title_svg row-span-4">Примеры расчётов</span>
        <h2 class="subtitle">Примеры расчётов теплообменников для горячего водоснабжения</h2>
        <p class="text-m mb-6">Пластинчатые теплообменники для систем гвс</p>
        <div class="container-2-lefted col-span-2 border-t border-primary-strokke1">
          <h3 class="upsubtitle mt-4 row-span-2">Для гвс</h3>
          <ul class="">
            <% raschetsExamples.filter(i => i.naznach ==='гвс').map((item,index) => { %>
              <li class="">
                <a class="link-beauty text-m py-4 block <%= index!==0 ? `border-t border-primary-strokke1` : '' %>" target="_blank" href="/plastinchatye-teploobmenniki/<%-item.categoryPath%>/<%-item.path%>.html">
                 Теплообменник <%-item.naznach %> <%-item.sreda1%>-<%-item.sreda2%>
                <span class="span-no-wrap text-orange font-semibold font-['Golos']">• <%-item.moshnostNumber%> <%-item.moshnostMeasure%></span>
              </a>
            </li>
            <% }); %>
          </ul>
          <div class="py-4 border-t border-primary-strokke1 my-2">
            <a class="text-orange text-m max-w-[338px] font-semibold link-beauty  block" href="/plastinchatye-teploobmenniki/goryachee-vodosnabzhenie-gvs/">Пластинчатые теплообменники для гвс --></a>
          </div>
        </div>
      </section>

    </main>

    <%= require('html-loader!./insets/asides/inner-footer.html').default %>

  <!--Шаблон формы-->
  <template class="form-big-template">
    <%= require('html-loader!./insets/big-form-template.html').default %>
  </template>

</body>
</html>
