<!DOCTYPE html>
<html lang="ru">
<head>
  <%= require('html-loader!./inner-google.html').default %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/plastinchatye-teploobmenniki/otoplenie/"  rel="canonical" />
</head>
<body class="page">
  <%= require('html-loader!./inner-metrika.html').default %>
    <header class="header header-up content">
      <a href="/" class="header__logo"><img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термблок"></a>
      <div class="header__right">
        <%= require('html-loader!./insets/asides/inner-header.html').default %>
      </div>
    </header>
    <main class="content">
      <div class="flexburton__breadcrumbs flexburton__breadcrumbs_spec">
        <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_spec" href="/">Главная</a>
        <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_spec" href="/plastinchatye-teploobmenniki/">Пластинчатые теплообменники</a>
        <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_spec flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>"><%= htmlWebpackPlugin.options.heading %></a>
      </div>
      <div class="container-12 relative group">
        <img class="col-span-5 rounded-2xl object-cover object-center transition group-hover:opacity-70 max-w-[calc(100%-20px)] laptop:mx-auto" src="<%= require('./images/blog-otop-nezav.png') %>" alt="">
        <div class="col-span-7 col-start-6 w-full">
          <h1 class="title-page mt-0"><%= htmlWebpackPlugin.options.heading %></h1>
          <p class="text-m max-w-[800px]">
            С переходом на независимые системы отопления, теплообменник является основным элементом современной отопительной
            системы. Пластинчатые разборные теплообменники имеют преимущества в эффективности теплопередачи и удобстве
            эксплуатации и сервиса. Они широко используются в обогреве промышленных зданий, складов, торговых залов, бассейнов и
            других помещений. Независимая система отопления разделяет теплоноситель на внутренний и внешний контуры через теплообменник, обеспечивающий передачу тепла.
          </p>
          <a class="inline-block mt-6 transition ui-button" href="/blog-proizvodstva/plastinchatye-teploobmenniki-otopleniya.html">
            <span class="inset-0 absolute"></span>
            Читать подробнее
            <span class="inline-block w-[1em] h-[1em] after:w-4 after:h-4 after:bg-orange-800"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="my-auto mr-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
            </span>
          </a>
        </div>
      </div>
        <section class="container-2-lefted items-start pt-4 border-t border-primary-strokke1 mt-24">
          <span class="up-title up-title_svg row-span-3">Где применяются</span>
          <h2 class="subtitle max-w-[705px]">Применение теплообменников для отопления</h2>
          <p class="text-m mb-6">Подробнее о том, где применяются пластинчатые теплообменники для отопления.</p>
          <ul class="">
            <li >
              <a class="flex gap-5 flex-row-reverse justify-end relative pt-4 border-t border-primary-strokke1" href="/blog-proizvodstva/teploobmenniki-mnogokvartirnogo-doma.html">
                <h3 class="up-text-title basis-2/3">Использование пластинчатых теплообменников в системах отопления многоквартирных домов</h3>
                <img class="rounded-lg basis-1/4 min-w-0" src="<%= require('./images/2024content/to-otop-mkd.png') %>" alt="теплообменник для отопления в многоквартирном доме">
                <svg class="size-8 absolute top-5 stroke-primary-strokke1 group-hover:stroke-orange right-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                </svg>
              </a>
            </li>
            <li class="mt-4">
              <a class="flex gap-5 flex-row-reverse justify-end relative pt-4 border-t border-primary-strokke1" href="/blog-proizvodstva/teploobmenniki-otopleniya-chastnogo-doma.html">
                <h3 class="up-text-title basis-2/3">Теплообменники для отопления в частном доме</h3>
                <img class="rounded-lg basis-1/4 min-w-0" src="<%= require('./images/2024content/chast-dom.jpg') %>" alt="теплообменник для отопления в многоквартирном доме">
                <svg class="size-8 absolute top-5 stroke-primary-strokke1 group-hover:stroke-orange right-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                </svg>
              </a>
            </li>
          </ul>
        </section>
        <section class="container-2-lefted items-start pt-4 border-t border-primary-strokke1 mt-24">
          <span class="up-title up-title_svg row-span-2">Примеры объектов</span>
          <h3 class="subtitle-sm">Объекты с системой отопления через теплообменник</h3>
          <ul class="grid grid-cols-3 gap-5">
            <li class="flex flex-col items-start  z-[1] group bg-[url('../images/ufa_umn_dom.png')] before:transition before:duration-500 bg-opacity-40 bg-cover bg-right relative before:w-full before:h-full before:bg-neutral-900 before:bg-opacity-60 hover:before:bg-opacity-70 before:absolute before:inset-0 before:-z-[1]">
              <h3 class="basis-3/6 p-5 text-lg text-gray-300 font-semibold">Теплообменник для отопления в многоквартирном доме с системой «умный дом»</h3>
              <a class="p-5 transition text-gray-200  group-hover:text-orange" href="/blog-proizvodstva/teploobmenniki-gvs-object-p-umnii-dom.html">
                <span class="inset-0 absolute"></span>
                Читать подробнее
              </a>
            </li>
            <li class="flex flex-col items-start z-[1] group bg-[url('../images/ufa_zaton.png')]  before:transition before:duration-500 bg-opacity-40 bg-cover bg-right relative before:w-full before:h-full before:bg-neutral-900 before:bg-opacity-60 hover:before:bg-opacity-70 before:absolute before:inset-0 before:-z-[1]">
              <h3 class="basis-3/6 p-5 text-lg text-gray-300 font-semibold">Теплообменник для отопления в котельной микрорайона</h3>
              <a class="p-5 transition text-gray-200  group-hover:text-orange" href="/blog-proizvodstva/teploobmenniki-gvs-object-p-zaton-vostok.html">
                <span class="inset-0 absolute"></span>
                Читать подробнее
              </a>
            </li>
            <li class="flex flex-col items-start z-[1] group bg-[url('../images/objects/pto1-sea-hort.png')]  before:transition before:duration-500 bg-opacity-40 bg-cover bg-right relative before:w-full before:h-full before:bg-neutral-900 before:bg-opacity-60 hover:before:bg-opacity-70 before:absolute before:inset-0 before:-z-[1]">
              <h3 class="basis-3/6 p-5 text-lg text-gray-300 font-semibold">Теплообменник для отопления в «крышной» котельной</h3>
              <a class="p-5 transition text-gray-200  group-hover:text-orange" href="/blog-proizvodstva/teploobmennik-5-mvt-object-spb.html">
                <span class="inset-0 absolute"></span>
                Читать подробнее
              </a>
            </li>
          </ul>
        </section>
        <section class="container-2-lefted items-start pt-4 border-t border-primary-strokke1 mt-24">
            <span class="up-title up-title_svg row-span-3">Смотрите также</span>
            <h2 class="subtitle">Системы теплого пола и снеготаяния</h2>
            <p class="mb-4 text-m">
              В современных системах отопление помещений осуществляется, помимо классических радиаторов, через систему теплого пола.
              Кроме этого, отдельным контуром можно выделить систему снеготаяния. В таких системах по контурам вместо воды могут
              циркулировать пропиленгликоль или этиленгликоль.
            </p>
            <ul class="">
              <li class="">
                <a class="block py-4 relative group border-t border-primary-strokke1 hover:border-orange" href="/blog-proizvodstva/teploobmennik-dlya-teplovogo-pola.html">
                  <h3 class="up-text-title max-w-96">Теплообменник для отопления в системе теплого пола</h3>
                  <p class="text-m max-w-[690px]">Отопление помещения системой теплого пола через теплообменник</p>
                  <svg class="size-8 absolute top-5 stroke-primary-strokke1 group-hover:stroke-orange right-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                  </svg>
                </a>
              </li>
              <li class="mt-2">
                <a class="block py-4 relative group border-t border-primary-strokke1 hover:border-orange" href="/blog-proizvodstva/teploobmennik-dlya-sistemy-snegotayaniya.html">
                  <h3 class="up-text-title max-w-96">Теплообменник в системе снеготаяния</h3>
                  <p class="text-m max-w-[690px]">Контур отопительной системы для снеготаяния</p>
                  <svg class="size-8 absolute top-5 stroke-primary-strokke1 group-hover:stroke-orange right-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                  </svg>
                </a>
              </li>
              <li class="mt-2">
                <a class="block py-4 relative group border-t border-primary-strokke1 hover:border-orange" href="/blog-proizvodstva/teploobmennik-glikol-voda.html">
                  <h3 class="up-text-title max-w-96">Теплообменники под пропилен- этиленгликоль</h3>
                  <p class="text-m max-w-[690px]">Особенности расчёта теплообменников под гликолиевые жидкости, использование их в системах отопления</p>
                  <svg class="size-8 absolute top-5 stroke-primary-strokke1 group-hover:stroke-orange right-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                  </svg>
                </a>
              </li>
            </ul>

        </section>
        <!--.filter(item => item.naznach === 'гвс')-->
        <section class="container-2-lefted items-start mt-24">
          <span class="up-title up-title_svg row-span-3">Примеры расчётов</span>
          <h2 class="subtitle">Примеры расчётов теплообменников для отопления</h2>
          <div class="container-2-lefted col-span-2 border-t border-primary-strokke1">
            <h3 class="upsubtitle mt-4">Для отопления</h3>
            <ul class="">
              <% raschetsExamples.filter(i => i.naznach ==='отопление').map((item,index) => { %>
                <li class="">
                  <a class="link-beauty text-m py-4 block <%= index!==0 ? `border-t border-primary-strokke1` : '' %>" target="_blank" href="/plastinchatye-teploobmenniki/<%-item.categoryPath%>/<%-item.path%>.html">
                  Теплообменник <%-item.naznach %> <%-item.sreda1%>-<%-item.sreda2%>
                    <span class="span-no-wrap text-orange font-semibold font-['Golos']">• <%-item.moshnostNumber%> <%-item.moshnostMeasure%></span>
                  </a>
              </li>
              <% }); %>
            </ul>
            <div class="col-start-2 py-4 border-t border-primary-strokke1 my-2">
              <a class="text-orange text-m max-w-[338px] font-semibold link-beauty block" href="/plastinchatye-teploobmenniki/otoplenie/">Пластинчатые теплообменники для отопления --></a>
            </div>
          </div>
      </section>
    </main>
    <%= require('html-loader!./insets/asides/inner-footer.html').default %>

  <!--Шаблон формы-->
  <template class="form-big-template">
    <%= require('html-loader!./insets/big-form-template.html').default %>
  </template>
</body>
</html>
