<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
  </head>
  <body>
    <%= require('html-loader!./inner-metrika.html').default %>
    <div class="bg"></div>
    <div class="page">
      <header class="header">
        <a href="/" class="header__logo"><img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термоблок"/></a>
        <div class="header__right">
          <%= require('html-loader!./insets/asides/inner-header.html').default %>
        </div>
      </header>

      <main class="content">
        <div class="flexburton flexburton_size_m flexburton_test">
          <div class="flexburton__left-side">
            <div class="flexburton__breadcrumbs service-grid__breadcrumbs">
              <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
              <a class=" flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>">Сервис и обслуживание теплообменников</a>
            </div>
            <h1 class="flexburton__title flexburton__title_size_m">Сервис и обслуживание теплообменников</h1>
            <p class="flexburton__subtitle flexburton__subtitle_size_m">ООО "Термоблок" предлагает широкий спектр услуг по сервисному обслуживанию и ремонту теплообменников собственного производства как на территории завода, так и с помощью партнеров на территории Российской Федерации. </p>
          </div>
        </div>
        <ul class="service__list">
            <li class="two-columns two-columns_page_service">
              <div class="two-columns__brief two-columns__brief_page_service two-columns__brief_column">
                <h2 class="two-columns__brief-title two-columns__brief-title_page_service">Промывка теплообменника</h2>
                <button class="button-bem promivka-popup-callback">Проконсультироваться</button>
              </div>
              <div class="two-columns__main-text two-columns__main-text_page_service">
                <p class="two-columns__paragraph">При эксплуатации пластинчатых теплообменников, между пластинами может появиться накипь или засоры. Таким образом может нарушиться нормальная работа теплообменного оборудования. Чтобы обеспечить таким аппаратам нормальную работу, нужна промывка теплообменников. Сервисная служба компании «Термоблок» специализируется на разборной промывке теплообменников. Это гарантирует качество и надёжность дальнейшей эксплуатации теплообменного аппарата и не наносит вреда уплотнениям, чего нельзя сказать о безразборной промывке теплообменников.</p>
                <p class="two-columns__paragraph">При всей трудоемкости разборного метода промывки теплообменников, по сравнению с безразборным методом очистки теплообменников, он дает ряд важных преимуществ и позволяет полностью справиться с самыми сложными загрязнениями.</p>
              </div>
            </li>
            <li class="two-columns two-columns_page_service" style="padding-bottom: 25px;">
              <div class="two-columns__brief two-columns__brief_page_service two-columns__brief_column">
                <h2 class="two-columns__brief-title two-columns__brief-title_page_service">Замена уплотнений и пластин</h2>
                <button class="button-bem shareparts-popup-callback">Запросить комплектующие</button>
              </div>
              <div class="two-columns__main-text two-columns__paragraph two-columns__main-text_page_service service__list">
                  <h3 class="bem__list-heading bem__list-heading_page-service">Поставка необходимых материалов</h3>
                  <ul class="bem__list bem__list_page_service">
                    <li class="bem__list-item">прокладок, пластин и элементов рамы собственного <span class="span-no-wrap">производства <img src="<%=require('./images/svg-teplohit.svg')%>" style="height: 1em;position: relative;top: 0.2em;" alt="Теплохит"> ™</span></li>
                    <li class="bem__list-item">химических реагентов для очистки теплообменников</li>
                    <li class="bem__list-item">химических реагентов для стабилизационной обработка теплоносителей</li>
                    <li class="bem__list-item">комплектующих и деталей теплообменников</li>
                    <li class="bem__list-item">сопутствующего оборудования</li>
                  </ul>
              </div>
              </li>
              <li class="two-columns two-columns_page_service" style="padding: 0;">
                <div class="two-columns__brief two-columns__brief_page_service two-columns__brief_column">
                  <!--пустой brief для номенклатуры справа-->
                </div>
                <div class="two-columns__main-text two-columns__paragraph two-columns__main-text_page_service service__list">
                  <h3 class="bem__list-heading bem__list-heading_page-service">Номенклатура</h3>
                  <form class="choice-form" id="formChoice" name="formChoice" novalidate>
                    <label class="choice-form__label">
                      <input type="radio" value="plast" class="choice-form__input" name="radio" checked="checked">
                      <span class="choice-form__heading choice-form__heading_page_service">Пластины</span>
                    </label>
                    <span class="choice-form__splitter">/</span>
                    <label class="choice-form__label">
                      <input type="radio" value="seals" class="choice-form__input" name="radio">
                      <span class="choice-form__heading choice-form__heading_page_service">Уплотнения</span>
                    </label>
                  </form>
                  <div class="service-grid__plast-table" style="overflow-y: hidden; max-width: 100%;">
                    <%= require('html-loader!./insets/tables/inner-plast-table.html').default %>
                  </div>
                  <div class="service-grid__seals-table" style="display: none; overflow-y: hidden; max-width: 100%;">
                    <%= require('html-loader!./insets/tables/inner-seals-table.html').default %>
                  </div>
              </div>
            </li>
            <li class="two-columns two-columns_page_service">
              <h2 class="two-columns__brief two-columns__brief_page_service">Консультации по работе теплооменного аппарата, монтажу и обслуживанию</h2>
              <div class="two-columns__main-text two-columns__main-text_page_service">
                <p class="two-columns__paragraph">Мы предоставляем техническое консультирование по вопросам эксплуатации теплообменного оборудования. Наши сотрудники прошли необходимое обучение и имеют сертификаты.</p>
              </div>
            </li>
      </ul>
    </main>
    <section class="map">
        <h2 class="map__heading">Партнеры по продажам и сервису по всей России</h2>
        <div class="map__list-container">
          <ul class="map__list">
          </ul>
          <!--Сюда встанут карточки партнеров-->
          <div class="map__popup">
            <span class="map__popup-close">&lt;-- Назад</span>
            <ul class="map__popup-container"></ul>
          </div>
        </div>
        <div class="map__partner"></div>
    </section>
    <%= require('html-loader!./insets/asides/inner-footer.html').default %>
    <%= require('html-loader!./insets/popup-mini-form.html').default %>
  </div><!--page-->

  <!--Шаблон элемента партнера на карте-->
  <template id="partner-item-template">
    <li class="map__list-item" data-html="<b>ООО «Интерсервис»</b><br> Тел.: 8-914-130-30-30<br>">Чита</li>
  </template>

  </body>
</html>