<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
  </head>
  <body class="page">
    <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
    <header class="header header-up content">
      <a href="/" class="header__logo"><img src="<%=require('./images/header-logo-1.svg')%>" class="header__logo-img" alt="Лого Термоблок"/></a>
      <div class="header__right">
        <%= require('html-loader!./insets/asides/inner-header.html').default %>
      </div>
    </header>
    <main class="content">
      <div class="text-xl text-white max-w-6xl">
        <div class="text-2xl my-4">
           Согласие на обработку персональных данных ООО «Термоблок»
        </div>
        <div class="flex flex-col gap-5">
            <p>
               Настоящим даю согласие ООО «Термоблок» (ИНН 2224044880, ОГРН 1022201529195) (далее – Оператор) на обработку своих персональных данных.&nbsp;
            </p>
            <p>
               Перечень персональных данных пользователя, на обработку которых даётся согласие:фамилия, имя, email, организация, город.&nbsp;
            </p>
            <p>
              Цель обработки персональных данных: осуществление информационного и (или) организационного взаимодействия со всеми пользователями (включая информационное обеспечение, направление информационных сообщений и рекламной информации, обработку поступающих обращений и информационных материалов любого характера и подготовку ответа на них, предоставление эффективной поддержки при возникновении у заинтересованных лиц различных проблем или ситуаций), а также управление качеством и эффективностью такого взаимодействия (обслуживания).&nbsp;
            </p>
            <p>
              Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях.&nbsp;
            </p>
            <p>
              Обработка персональных данных осуществляется только Оператором, без поручения обработки иным юридическим и физическим лицам.&nbsp;
            </p>
            <p>
              Перечень действий с персональными данными, на совершение которых дается согласие, общее описание используемых оператором способов обработки персональных данных: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, удаление, уничтожение персональных данных.&nbsp;
            </p>
            <p>
              Обработка вышеуказанных персональных данных будет осуществляться путем автоматизированной обработки персональных данных.&nbsp;
            </p>
            <p>
              Передача персональных данных третьим лицам не осуществляется.&nbsp;
            </p>
            <p>
              Настоящее согласие на обработку персональных данных действует с момента его представления оператору в течение неопределенного срока.&nbsp;
            </p>
            <p>
              Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес office@termoblok.ru.&nbsp;
            </p>
            <p>
              Персональные данные субъекта подлежат хранению в течение сроков, установленных законодательством Российской Федерации. Персональные данные уничтожаются: по достижению целей обработки персональных данных; при ликвидации или реорганизации Оператора; на основании письменного обращения субъекта персональных данных с требованием о прекращении обработки его персональных данных Оператор прекратит обработку таких персональных данных в течение 30 дней с даты подачи отзыва, о чем будет направлено письменное уведомление субъекту.&nbsp;
            </p>

            </div>
          </div>
    </main>

  </body>
</html>