<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require('html-loader!./inner-google.html').default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="https://www.termoblok.ru/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
  </head>
  <body>
    <%= require('raw-loader!./inner-metrika.html').default %>
    <div class="page">
      <header class="header header-up content">
        <a href="/" class="header__logo"><img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термоблок"/></a>
        <div class="header__right">
          <%= require('html-loader!./insets/asides/inner-header.html').default %>
        </div>
      </header>
      <p style="color: #f2f2f2;"><%= compilation.assets.source %></p>
      <main class="content">
        <div class="flexburton__breadcrumbs">
          <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
          <a class="flexburton__breadcrumbs-link" href="/catalog/">Каталог</a>
          <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>"><%=heading%></a>
        </div>

        <section class="heatex">
          <figure class="highliter highliter_top-left"><div class="highliter__element highliter__element_stretched"></div></figure>
          <figure class="highliter highliter_bottom-right"><div class="highliter__element highliter__element_stretched"></div></figure>
          <figure class="highliter highliter_top-right"><div class="highliter__element highliter__element_stretched"></div></figure>
          <figure class="highliter highliter_bottom-left"><div class="highliter__element highliter__element_stretched"></div></figure>

          <div class="heatex__content">
            <div class="heatex__img-container">
              <img class="heatex__to-img" src="<%=require('./images/descTO/'+ tialias)%>" alt="Пластинчатый теплообменник <%= heading%>"/>
            </div>
            <div class="basis-1/2">
              <span class="span span_comment">Теплообменник</span>
              <h1 class="heatex__to-name"><%=heading%></h1>
              <p class="heatex__to-desc heatex__to-desc_theme_dark">
                <%=description%>
                  Особая конструкция клипа надежно закрепляет уплотнение на
                  пластину, это исключает обрыв при монтаже пластины и обеспечивает надежность эксплуатации.
              </p>
              <% if (Object.keys(htmlWebpackPlugin.options.templateParameters).includes('link3d')) { %>
                <h4 class="heatex__models-heading heatex__models-heading_theme_dark">Скачать 3D модели</h4>
                <a class="heatex__to-3dlink link-beauty" href="<%=link3d%>" target="_blank">3D модели (IGES, DWG) для <%=heading%></a>
              <% } %>
            </div>

          </div>
        </section>

        <section class="container-2 twrapper">
          <span class="up-title up-title_svg">Характеристики</span>
          <div class="khan__container khan__container_page_heatex">
            <h2 class="subtitle text-orange">Чертеж и Размеры</h2>
            <p class="khan__quote khan__quote_page_heatex">
              Чертеж пластинчатого теплообменника <%= heading%> поможет разобраться в типоразмерах нашего модельного ряда, который отличается от других производителей.
              При необходимости в 3D моделях определенного формата, Вы всегда можете обратиться к нашим инженерам.
              Также размеры теплообменника указываются в документе "Технические данные", который идет вместе с коммерческим предложением (расчётом теплообменного аппарата).
            </p>
            <div class="flex mt-16 items-start">
              <div class="khan__book-container khan__book-container_page_heatex">
                <img src="<%=require('./images/drawings/'+ drawalias)%>" class="khan__book-pic khan__book-pic_page_heatex" alt="Чертеж пластинчатого теплообменника <%= heading%>"/>
              </div>
              <a class="khan__buy-link ui-button ml-5 link-beauty wow animate__fadeInRight" data-wow-duration="1s" data-wow-offset="200" href="#">Открыть</a>
            </div>
          </div>
        </section>

        <section class="twrapper grid grid-cols-2 my-14 items-start border-t border-primary-strokke1">
            <h2 class="up-title up-title_svg pt-4">Часто задаваемые вопросы</h2>
            <ul class="frequently__questions">
                <li class="group frequently__item relative">
                    <h3 class="frequently__question ">Какая площадь теплообмена у теплообменника <%=heading%>?</h3>
                    <p class="frequently__answer">Площадь теплообмена может служить параметром расчёта по некоторым методикам. Однако для того, чтобы подобрать оптимальный теплообменный аппарат, мы не используем данную характеристику и опираемся на температурные графики, мощность и потери давления. Тем самым алгоритм подбора выдает компоновку каналов опираясь на математическую модель нашей пластины.</p>
                </li>
                <li class="group frequently__item relative">
                    <h3 class="frequently__question">Рассчитать теплообменник?</h3>
                    <p class="frequently__answer">Для расчёта пластинчатого теплообменника при стандартных потерях давления необходимо 5 значений: температурные графики (температуры греющей и нагреваемой сред на входе и выходе из теплообменника). А также мощность (тепловая нагрузка) или расход по нагреваемой среде. Форма заявки онлайн для расчёта доступна по ссылке <a style="text-decoration: none; color: #747474;" href="/equipment-selection/">подбор теплообменника онлайн</a></p>
                </li>
                <li class="group frequently__item relative">
                    <h3 class="frequently__question">Кто является производителем данного теплообменника?</h3>
                    <p class="frequently__answer">Производство пластин, уплотнений и сборка теплообменника <%=headingAlias%> локализовано в ООО "Термоблок" - дочернем предприятии Барнаульского станкостроительного завода. </p>
                </li>
            </ul>
        </section>
      </main>
      <%= require('html-loader!./insets/asides/inner-footer.html').default %>
      <%= require('html-loader!./insets/popup-mini-form.html').default %>
        <!--Форма модального окна с картинкой-->
      <div class="popup popup_darked popup-viewport">
        <div class="popup__container popup__container_type_image">
            <button class="popup__button-close popup__button-close_page_ti link-beauty" type="button"></button>
            <div class="popup__image-view">
                <img class="popup__image" alt="картинка под загрузку" src="../images/svg-elems/preloader.gif">
                <p class="popup__image-description"></p>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
