<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="https://www.termoblok.ru/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
  </head>
  <body>
    <%= require('raw-loader!./inner-metrika.html').default %>
    <div class="bg"></div>
    <div class="page">
      <header class="header">
        <a href="/" class="header__logo"><img class="header__logo-img" src="<%=require('./images/header-logo-1.svg')%>" alt="Лого Термоблок"/></a>
        <div class="header__right">
          <%= require('html-loader!./inner-header.html').default %>
        </div>
      </header>
      <p style="color: #f2f2f2";><%= compilation.assets.source %></p>
      <main class="content">
        <div class="flexburton__breadcrumbs flexburton__breadcrumbs_outside">
          <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
          <a class="flexburton__breadcrumbs-link" href="/production.html">Продукция</a>
          <a class="flexburton__breadcrumbs-link" href="/plastinchatye-teploobmenniki.html">Пластинчатые теплообменники</a>
          <a class="flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="/<%= htmlWebpackPlugin.options.filename %>"><%=heading%></a>
        </div>

        <section class="heatex">
          <!--<div style="position: absolute; top:0; left: 0;"><img src="<%=require('./images/rect_sect.svg')%>" width="30%"></div>
          <div style="position: absolute; top:0; right: 0; transform: scaleX(-1);"><img src="<%=require('./images/rect_sect.svg')%>" width="30%"></div>-->
          <figure class="highliter highliter_top-left"><div class="highliter__element highliter__element_stretched"></div></figure>
          <figure class="highliter highliter_bottom-right"><div class="highliter__element highliter__element_stretched"></div></figure>
          <figure class="highliter highliter_top-right"><div class="highliter__element highliter__element_stretched"></div></figure>
          <figure class="highliter highliter_bottom-left"><div class="highliter__element highliter__element_stretched"></div></figure>
          <div class="heatex__content">
            <div class="heatex__img-container">
              <img class="heatex__to-img" src="<%=require('./images/descTO/'+ tialias)%>" />
            </div>
            <div class="heatex__desc-container">
              <span class="span span_comment">Теплообменник</span>
              <h3 class="heatex__to-name"><%=heading%></h3>
              <p class="heatex__to-desc heatex__to-desc_theme_dark">
                <%=description%>
              </p>
              <h4 class="heatex__models-heading heatex__models-heading_theme_dark">Скачать 3D модели</h4>
              <a class="heatex__to-3dlink link-beauty" href="<%=link3d%>" target="_blank">3D модели (IGES, DWG) для <%=heading%></a>
            </div>
          </div>
          <!--<div style="position: absolute; bottom:0; left: 0; transform: scaleY(-1);"><img src="<%=require('./images/rect_sect.svg')%>" width="30%"></div>
          <div style="position: absolute; bottom:0; right: 0; transform: scale(-1);"><img src="<%=require('./images/rect_sect.svg')%>" width="30%"></div>-->
        </section>

        <section class="khan khan_page_heatex">
          <div class="khan__container khan__container_page_heatex">
            <h2 class="khan__title khan__title_page_heatex">
              Чертеж и Размеры
            </h2>
            <p class="khan__quote khan__quote_page_heatex">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna
              odio accumsan tortor aliquam cras vestibulum, interdum. Fusce
              integer pellentesque nulla purus sit eget non risus. Sagittis
              vestibulum odio dictum ornare urna, tellus libero. Convallis
              convallis tempus mi eu vulputate urna facilisi lacinia.
            </p>
            <div style="display: flex">
              <div class="khan__book-container khan__book-container_page_heatex">
                <img
                  src="<%=require('./images/drawings/'+ drawalias)%>"
                  class="khan__book-pic khan__book-pic_page_heatex"
                  alt="Чертеж пластинчатого теплообменника <%= heading%>"
                />
              </div>
              <a
                class="khan__buy-link khan__buy-link_page_heatex link-beauty wow animate__fadeInRight"
                data-wow-duration="1s"
                data-wow-offset="200"
                href="#"
                >Открыть &#8594;</a
              >
            </div>
          </div>
        </section>

        <section class="frequently">
            <h2 class="frequently__heading">Часто задаваемые вопросы</h2>
            <ul class="frequently__questions">
                <li class="frequently__item">
                    <h3 class="frequently__question">Какая площадь теплообмена у теплообменника <%=heading%>?</h3>
                    <p class="frequently__answer">По площади теплобмена некорректно высчитывать теплообменник. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna odio accumsan tortor aliquam cras vestibulum, interdum.</p>
                </li>
                <li class="frequently__item">
                    <h3 class="frequently__question">Рассчитать теплообменник?</h3>
                    <p class="frequently__answer">Для расчёта пластинчатого теплообменника при стандартных потерях давления необходимо 5 значений: температурные графики (температуры греющей и нагреваемой сред на входе и выходе из теплообменника). А также мощность (тепловая нагрузка) или расход по нагреваемой среде. Форма заявки онлайн для расчёта доступна по ссылке <a href="/equipment-selection/">подбор теплообменника онлайн</a></p>
                </li>
                <li class="frequently__item">
                    <h3 class="frequently__question">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                    <p class="frequently__answer">Magna odio accumsan tortor aliquam cras vestibulum, interdum.</p>
                </li>
            </ul>
        </section>
      </main>
      <%= require('html-loader!./inner-footer.html').default %>
      <%= require('html-loader!./inner-popup-img.html').default %>
    </div>

  </body>
</html>
