.section-subtitle {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    line-height: 1.3;
    font-size: 24px;
    font-weight: normal;
    color: #c4c4c4;
  }

  @media screen and (max-width: 767px) {
    .section-subtitle {
      font-size: 18px;
      font-size: 12px;
      /*letter-spacing: .05em;*/
      line-height: 1.4;
      width: 95%;
      font-weight: 600;
      text-align: left;
    }
  }


  .section-subtitle_page_index {
    font-size: 42px;
    font-weight: 600;
    margin-top: 85px;
    width: 770px;
  }

  @media screen and (max-width: 768px) {
    .section-subtitle_page_index {
      width: 60%;
    }
  }

  @media screen and (max-width: 768px) {
    .section-subtitle_page_index {
      margin-top: 40px;
      font-size: 18px;
    }
  }
